backend/workflows/auth.json
{
  "name": "Catalog Tools - Auth",
  "description": "Authentication system with 9 endpoints: register, login, verify, profile, password, notifications, admin list/delete/role. Uses workflow static data as persistent storage.",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "40d21406-85ad-4894-a07b-477370380534",
      "name": "Register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-register",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "748ddf1e-1cdf-4bc3-b723-272f15631887"
    },
    {
      "id": "fc0a75fd-ace2-4b8e-94d6-1fc2e09b0ad2",
      "name": "Do Register",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\nfunction generateVerifyCode() {\n  return String(Math.floor(100000 + Math.random() * 900000));\n}\n\nconst https = require('https');\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1]; const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({ hostname, port: 443, path, method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => { const chunks = []; res.on('data', c => chunks.push(c));\n      res.on('end', () => { const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, json: () => Promise.resolve(JSON.parse(body)) }); });\n    }); req.on('error', reject); req.setTimeout(10000, () => { req.destroy(); reject(new Error('Timeout')); });\n    if (postData) req.write(postData); req.end();\n  });\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nif (!sd.notifications) sd.notifications = {};\nif (!sd.pendingVerifications) sd.pendingVerifications = {};\nconst body = $input.first().json.body;\nconst userCount = Object.keys(sd.users).length;\n\nconst isAdminCreating = !!body.adminToken;\n\nif (isAdminCreating) {\n  const adminSession = getSession(sd, body.adminToken);\n  if (!adminSession) return [{ json: { success: false, error: 'Token de administrador no valido o expirado' } }];\n  const adminUser = sd.users[adminSession.email];\n  if (!adminUser || !canManageUsers(adminUser.role)) return [{ json: { success: false, error: 'No tienes permisos para crear cuentas' } }];\n  if (adminUser.role === 'marketplace_admin') {\n    if (body.role && body.role !== 'user' && body.role !== 'marketplace_admin') return [{ json: { success: false, error: 'Solo puedes crear vendedores' } }];\n  }\n}\n\nif (!body.name || !body.email || !body.password) return [{ json: { success: false, error: 'Nombre, email y contrasena son obligatorios' } }];\nconst email = body.email.toLowerCase().trim();\nconst name = body.name.trim();\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) return [{ json: { success: false, error: 'Email no valido' } }];\nif (body.password.length < 8) return [{ json: { success: false, error: 'La contrasena debe tener al menos 8 caracteres' } }];\nif (sd.users[email]) return [{ json: { success: false, error: 'Ya existe una cuenta con ese email' } }];\n\nconst salt = makeSalt();\nconst hash = simpleHash(body.password + salt);\nconst isPrometeix = email.endsWith('@prometeix.com');\n\nlet role = 'user';\nif (userCount === 0 || isPrometeix) { role = 'admin'; }\nelse if (isAdminCreating && body.role && ['user', 'marketplace_admin', 'super_admin', 'admin'].includes(body.role)) { role = body.role; }\n\nconst marketplace_id = body.marketplace_id || '';\n\nif (isAdminCreating || isPrometeix || userCount === 0) {\n  const subscription_status = isPrometeix || role === 'admin' || role === 'super_admin' ? 'active' : 'pending_payment';\n  sd.users[email] = { name, email, passwordHash: hash, salt, role, marketplace_id, subscription_status, company: body.company || '', lang: body.lang || 'es', createdAt: new Date().toISOString(), onboarded: isAdminCreating ? true : false, email_verified: true };\n  if (!sd.notifications[email]) sd.notifications[email] = [];\n  sd.notifications[email].push({ id: Date.now().toString(36), type: 'success', title: 'Bienvenido a Katalync', message: 'Tu cuenta ha sido creada.', read: false, date: new Date().toISOString() });\n  return [{ json: { success: true, message: 'Usuario creado correctamente', name, email, role, marketplace_id, subscription_status } }];\n}\n\n// Self-registration: send verification code\nconst verifyCode = generateVerifyCode();\nsd.pendingVerifications[email] = { code: verifyCode, expiresAt: Date.now() + 10 * 60 * 1000, name, hash, salt, company: body.company || '', lang: body.lang || 'es' };\n\ntry {\n  await httpReq('https://api.katalync.com/webhook/katalync-email', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ type: 'verify_code', email, name, data: { code: verifyCode } })\n  });\n} catch(e) {}\n\nreturn [{ json: { success: true, pending_verification: true, message: 'Codigo de verificacion enviado a ' + email } }];"
      }
    },
    {
      "id": "6cf1fcfd-331f-4996-ab7b-756a2aee4f55",
      "name": "Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        224
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-login",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "17bbfc76-8a08-431f-98a8-66eb94e398dc"
    },
    {
      "id": "6da8dd8e-8c2d-4d7f-9638-02a573d2d42c",
      "name": "Do Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        224
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nif (!body.email || !body.password) return [{ json: { success: false, error: 'Email y contraseña son obligatorios' } }];\nconst email = body.email.toLowerCase().trim();\nconst user = sd.users[email];\nif (!user) return [{ json: { success: false, error: 'Email o contraseña incorrectos' } }];\nconst hash = simpleHash(body.password + user.salt);\nif (hash !== user.passwordHash) return [{ json: { success: false, error: 'Email o contraseña incorrectos' } }];\nconst token = makeToken();\nsd.sessions[token] = { email: user.email, name: user.name, role: user.role || 'user', createdAt: Date.now() };\nconst weekAgo = Date.now() - 7*24*60*60*1000;\nfor (const t of Object.keys(sd.sessions)) { if (sd.sessions[t].createdAt < weekAgo) delete sd.sessions[t]; }\nreturn [{ json: { success: true, token, name: user.name, email: user.email, role: user.role || 'user', marketplace_id: user.marketplace_id || '', subscription_status: user.subscription_status || 'active', company: user.company || '', lang: user.lang || 'es', onboarded: user.onboarded || false } }];\n"
      }
    },
    {
      "id": "6df1260a-d51f-4212-85fd-964ed046d79e",
      "name": "Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        448
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-verify",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "68ce8241-c941-4e0d-99d7-d6039c1bed75"
    },
    {
      "id": "942af770-dfe5-4c66-9ae1-c277fe2b270b",
      "name": "Do Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        448
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.users) sd.users = {};\nif (!sd.notifications) sd.notifications = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'Sesion no valida o expirada' } }];\nconst user = sd.users[session.email] || {};\nconst notifs = (sd.notifications[session.email] || []);\nconst unread = notifs.filter(n => !n.read).length;\nreturn [{ json: { success: true, name: session.name, email: session.email, role: user.role || session.role || 'user', marketplace_id: user.marketplace_id || '', subscription_status: user.subscription_status || 'active', company: user.company || '', lang: user.lang || 'es', onboarded: user.onboarded || false, unreadNotifications: unread } }];\n"
      }
    },
    {
      "id": "c6ce6f9b-a76f-47cf-9712-6c843e118c19",
      "name": "Profile",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        672
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-profile",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "7b093e5f-4911-4567-a79b-bd3abd979f95"
    },
    {
      "id": "ca4d8ddc-eabe-4469-be4b-72563ff03014",
      "name": "Do Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        672
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.users) sd.users = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nconst user = sd.users[session.email];\nif (!user) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nif (body.name) { user.name = body.name.trim(); session.name = user.name; }\nif (body.company !== undefined) user.company = body.company.trim();\nif (body.lang) user.lang = body.lang;\nif (body.onboarded !== undefined) user.onboarded = body.onboarded;\nreturn [{ json: { success: true, message: 'Perfil actualizado', name: user.name, email: user.email, company: user.company, lang: user.lang, onboarded: user.onboarded } }];"
      }
    },
    {
      "id": "b99207de-a80a-46e3-bd50-b3544924b916",
      "name": "Password",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        896
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-password",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "0d95d9ad-a12a-4c64-92e5-11ae0f8f4e98"
    },
    {
      "id": "358f08b3-af66-4a8f-932d-196b9e357dfa",
      "name": "Do Password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        896
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.users) sd.users = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nconst user = sd.users[session.email];\nif (!user) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nif (!body.currentPassword || !body.newPassword) return [{ json: { success: false, error: 'Contrase\\u00f1a actual y nueva son obligatorias' } }];\nconst currentHash = simpleHash(body.currentPassword + user.salt);\nif (currentHash !== user.passwordHash) return [{ json: { success: false, error: 'La contrase\\u00f1a actual es incorrecta' } }];\nif (body.newPassword.length < 4) return [{ json: { success: false, error: 'La nueva contrase\\u00f1a debe tener al menos 4 caracteres' } }];\nconst newSalt = makeSalt();\nuser.salt = newSalt;\nuser.passwordHash = simpleHash(body.newPassword + newSalt);\nreturn [{ json: { success: true, message: 'Contrase\\u00f1a actualizada correctamente' } }];"
      }
    },
    {
      "id": "f2cc3c70-1b54-485d-a625-c9b49408b4aa",
      "name": "Notifications",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-notifications",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "6c596967-b840-4f56-ae08-2a391557bd89"
    },
    {
      "id": "28dde9b1-d104-489a-a252-c836d25ad7d7",
      "name": "Do Notifications",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.notifications) sd.notifications = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nconst email = session.email;\nif (!sd.notifications[email]) sd.notifications[email] = [];\n\nif (body.action === 'create' && body.message) {\n  sd.notifications[email].unshift({ id: Date.now().toString(36), type: 'info', title: 'Synara', message: body.message, read: false, date: new Date().toISOString() });\n  if (sd.notifications[email].length > 50) sd.notifications[email] = sd.notifications[email].slice(0, 50);\n  return [{ json: { success: true } }];\n}\n\nif (body.action === 'markRead' && body.notifId) {\n  const n = sd.notifications[email].find(x => x.id === body.notifId);\n  if (n) n.read = true;\n  return [{ json: { success: true } }];\n}\nif (body.action === 'markAllRead') {\n  sd.notifications[email].forEach(n => n.read = true);\n  return [{ json: { success: true } }];\n}\nif (body.action === 'clear') {\n  sd.notifications[email] = sd.notifications[email].filter(n => !n.read);\n  return [{ json: { success: true } }];\n}\n\nconst notifs = sd.notifications[email].slice(0, 50);\nconst unread = notifs.filter(n => !n.read).length;\nreturn [{ json: { success: true, notifications: notifs, unread: unread } }];"
      }
    },
    {
      "id": "06633f6f-5e05-4aa1-b2f2-d05645a0b38c",
      "name": "Admin List",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1344
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-admin-users",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "8e548cc2-866f-4260-87eb-00709369936a"
    },
    {
      "id": "15c289c8-494c-4c06-942a-5f09102aa199",
      "name": "Do Admin List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1344
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session || !canManageUsers(session.role)) return [{ json: { success: false, error: 'No autorizado' } }];\nconst users = Object.values(sd.users).map(u => ({ name: u.name, email: u.email, role: u.role || 'user', marketplace_id: u.marketplace_id || '', subscription_status: u.subscription_status || 'active', company: u.company || '', lang: u.lang || 'es', createdAt: u.createdAt, onboarded: u.onboarded || false }));\nconst activeSessions = Object.values(sd.sessions).length;\nreturn [{ json: { success: true, users, totalUsers: users.length, activeSessions } }];\n"
      }
    },
    {
      "id": "9427de2f-805e-4ea9-90c8-ff31138b5506",
      "name": "Admin Delete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1568
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-admin-delete",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "90327446-d6e3-4f58-b686-7bd6e81c1d43"
    },
    {
      "id": "d1ef56a5-4de7-40e7-a3d5-d8869ccd74a9",
      "name": "Do Admin Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1568
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session || session.role !== 'admin') return [{ json: { success: false, error: 'No autorizado' } }];\nif (!body.email) return [{ json: { success: false, error: 'Email obligatorio' } }];\nconst t = body.email.toLowerCase().trim();\nif (t === session.email) return [{ json: { success: false, error: 'No puedes eliminar tu propia cuenta' } }];\nif (!sd.users[t]) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nconst dn = sd.users[t].name; delete sd.users[t];\nfor (const k of Object.keys(sd.sessions)) { if (sd.sessions[k].email === t) delete sd.sessions[k]; }\nreturn [{ json: { success: true, message: dn + ' eliminado correctamente' } }];"
      }
    },
    {
      "id": "dd89f3ac-8c26-4ddc-a32b-903054bb86b8",
      "name": "Admin Role",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        1792
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-admin-role",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "webhookId": "568f30d6-3a58-4509-b6d5-47bc18dd83fb"
    },
    {
      "id": "3288ca46-32f7-4671-bc4a-30920dbb9eed",
      "name": "Do Admin Role",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1792
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session || !canManageUsers(session.role)) return [{ json: { success: false, error: 'No autorizado' } }];\nif (!body.email) return [{ json: { success: false, error: 'Email obligatorio' } }];\nconst t = body.email.toLowerCase().trim();\nif (!sd.users[t]) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\n\n// Update role if provided\nif (body.role) {\n  const validRoles = ['user', 'marketplace_admin', 'super_admin', 'admin'];\n  const newRole = validRoles.includes(body.role) ? body.role : 'user';\n  // marketplace_admin cannot assign super_admin/admin roles\n  if (session.role === 'marketplace_admin' && (newRole === 'admin' || newRole === 'super_admin')) {\n    return [{ json: { success: false, error: 'No tienes permisos para asignar ese rol' } }];\n  }\n  sd.users[t].role = newRole;\n  // Update active sessions for this user\n  for (const k of Object.keys(sd.sessions)) {\n    if (sd.sessions[k].email === t) sd.sessions[k].role = newRole;\n  }\n}\n\n// Update marketplace_id if provided (even empty string to unassign)\nif (body.marketplace_id !== undefined) {\n  sd.users[t].marketplace_id = body.marketplace_id;\n}\n\nreturn [{ json: { success: true, message: sd.users[t].name + ' actualizado correctamente' } }];\n"
      }
    },
    {
      "parameters": {
        "path": "auth-admin-subscription",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        1992
      ],
      "id": "sub-webhook-001",
      "name": "Admin Subscription",
      "webhookId": "auth-admin-subscription"
    },
    {
      "parameters": {
        "jsCode": "function getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nif (!body.email || !body.subscription_status) return [{ json: { success: false, error: 'Email y estado son obligatorios' } }];\nconst targetEmail = body.email.toLowerCase().trim();\nif (!sd.users[targetEmail]) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nconst validStatuses = ['active', 'pending_payment', 'suspended', 'cancelled'];\nif (!validStatuses.includes(body.subscription_status)) return [{ json: { success: false, error: 'Estado no valido' } }];\n\nconst callerUser = sd.users[session.email] || {};\nif (!isAdminRole(callerUser.role)) return [{ json: { success: false, error: 'No autorizado' } }];\n\nsd.users[targetEmail].subscription_status = body.subscription_status;\nreturn [{ json: { success: true, message: sd.users[targetEmail].name + ' - estado: ' + body.subscription_status } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        1992
      ],
      "id": "sub-code-001",
      "name": "Do Admin Subscription"
    },
    {
      "parameters": {
        "path": "stripe-subscription-update",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        1600
      ],
      "id": "stripe-sub-update-webhook",
      "name": "Stripe Sub Update",
      "webhookId": "stripe-subscription-update"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nconst body = $input.first().json.body;\nconst source = body.source || '';\n\n// Only accept from stripe_webhook source (internal call from our webhook workflow)\nif (source !== 'stripe_webhook') {\n  return [{ json: { success: false, error: 'Unauthorized source' } }];\n}\n\nconst email = (body.email || '').toLowerCase().trim();\nconst newStatus = body.subscription_status;\nif (!email || !newStatus) return [{ json: { success: false, error: 'Email and status required' } }];\n\nconst validStatuses = ['active', 'pending_payment', 'suspended', 'cancelled'];\nif (!validStatuses.includes(newStatus)) return [{ json: { success: false, error: 'Invalid status' } }];\n\nif (!sd.users[email]) return [{ json: { success: false, error: 'User not found: ' + email } }];\n\nsd.users[email].subscription_status = newStatus;\n\n// Log the event\nif (!sd.stripeLog) sd.stripeLog = [];\nsd.stripeLog.push({ email, status: newStatus, event: body.event || '', timestamp: new Date().toISOString() });\nif (sd.stripeLog.length > 200) sd.stripeLog = sd.stripeLog.slice(-100);\n\nreturn [{ json: { success: true, email, status: newStatus, event: body.event } }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        1600
      ],
      "id": "stripe-sub-update-code",
      "name": "Do Stripe Sub Update"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth-verify-email",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "verify-email-webhook",
      "name": "Verify Email",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1200
      ],
      "webhookId": "auth-verify-email"
    },
    {
      "parameters": {
        "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nif (!sd.notifications) sd.notifications = {};\nif (!sd.pendingVerifications) sd.pendingVerifications = {};\n\nconst body = $input.first().json.body;\nconst email = (body.email || '').toLowerCase().trim();\nconst code = (body.code || '').trim();\n\nif (!email || !code) return [{ json: { success: false, error: 'Email y codigo son obligatorios' } }];\n\nconst pending = sd.pendingVerifications[email];\nif (!pending) return [{ json: { success: false, error: 'No hay verificacion pendiente para este email' } }];\nif (Date.now() > pending.expiresAt) {\n  delete sd.pendingVerifications[email];\n  return [{ json: { success: false, error: 'El codigo ha expirado. Registrate de nuevo.' } }];\n}\nif (pending.code !== code) return [{ json: { success: false, error: 'Codigo incorrecto' } }];\n\n// Code is valid — create the user\nsd.users[email] = {\n  name: pending.name,\n  email,\n  passwordHash: pending.hash,\n  salt: pending.salt,\n  role: 'user',\n  marketplace_id: '',\n  subscription_status: 'pending_payment',\n  company: pending.company,\n  lang: pending.lang,\n  createdAt: new Date().toISOString(),\n  onboarded: false,\n  email_verified: true\n};\n\ndelete sd.pendingVerifications[email];\n\nif (!sd.notifications[email]) sd.notifications[email] = [];\nsd.notifications[email].push({ id: Date.now().toString(36), type: 'success', title: 'Bienvenido a Katalync', message: 'Tu cuenta ha sido verificada. Ya puedes acceder.', read: false, date: new Date().toISOString() });\n\n// Create session and auto-login\nconst token = makeToken();\nsd.sessions[token] = { email, createdAt: Date.now() };\nconst user = sd.users[email];\n\nreturn [{ json: { success: true, verified: true, token, name: user.name, email, role: user.role, subscription_status: user.subscription_status, onboarded: user.onboarded } }];"
      },
      "id": "verify-email-code",
      "name": "Do Verify Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1200
      ]
    }
  ],
  "connections": {
    "Register": {
      "main": [
        [
          {
            "node": "Do Register",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        [
          {
            "node": "Do Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify": {
      "main": [
        [
          {
            "node": "Do Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile": {
      "main": [
        [
          {
            "node": "Do Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password": {
      "main": [
        [
          {
            "node": "Do Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notifications": {
      "main": [
        [
          {
            "node": "Do Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin List": {
      "main": [
        [
          {
            "node": "Do Admin List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Delete": {
      "main": [
        [
          {
            "node": "Do Admin Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Role": {
      "main": [
        [
          {
            "node": "Do Admin Role",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Subscription": {
      "main": [
        [
          {
            "node": "Do Admin Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe Sub Update": {
      "main": [
        [
          {
            "node": "Do Stripe Sub Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Email": {
      "main": [
        [
          {
            "node": "Do Verify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": {
    "global": {
      "users": {
        "test@example.com": {
          "name": "Test User",
          "email": "test@example.com",
          "passwordHash": "1r7iq91h14x_t87ata_-qke7sv",
          "salt": "rimg1i1vuh9jvswcah8ea",
          "role": "user",
          "createdAt": "2026-05-08T20:06:38.186Z"
        },
        "alberto@prometeix.com": {
          "name": "Alberto",
          "email": "alberto@prometeix.com",
          "passwordHash": "o1qdyvntli_bsuxjc_-f39roq",
          "salt": "o3wmld7ga3awchpr00918",
          "role": "admin",
          "createdAt": "2026-05-08T20:11:02.899Z",
          "company": "",
          "lang": "es",
          "onboarded": true,
          "subscription_status": "active"
        },
        "test@test.com": {
          "name": "Test User",
          "email": "test@test.com",
          "passwordHash": "1e3o06inr9x_-7s86r2_v6fo5",
          "salt": "camjko5qteqwxeewa5gnp",
          "role": "user",
          "company": "",
          "lang": "es",
          "createdAt": "2026-05-08T21:16:24.728Z",
          "onboarded": false
        },
        "tonifaceshop@gmail.com": {
          "name": "Tonifaceshop",
          "email": "tonifaceshop@gmail.com",
          "passwordHash": "262xrbhkusp_f0hnb6_-lgb6l3",
          "salt": "3exc2qy2p87pz30eb1nos",
          "role": "user",
          "company": "",
          "lang": "es",
          "createdAt": "2026-05-09T17:30:18.590Z",
          "onboarded": true,
          "marketplace_id": "prueba"
        },
        "albertotiendainfo@gmail.com": {
          "name": "Alberto 2",
          "email": "albertotiendainfo@gmail.com",
          "passwordHash": "29iy1rrwgu7_kuav74_iej4n3",
          "salt": "lx6u9244vn6phnkrjq0a",
          "role": "marketplace_admin",
          "company": "",
          "lang": "es",
          "createdAt": "2026-05-10T12:56:20.235Z",
          "onboarded": true,
          "marketplace_id": "prueba"
        },
        "albertoticketsinfo@gmail.com": {
          "name": "Alberto 3",
          "email": "albertoticketsinfo@gmail.com",
          "passwordHash": "cf2a91yzfe_1rupe9_-wndhye",
          "salt": "bp6s5eknd2vl5zgyssuu",
          "role": "user",
          "marketplace_id": "prueba",
          "subscription_status": "pending_payment",
          "company": "",
          "lang": "es",
          "createdAt": "2026-05-10T15:05:37.292Z",
          "onboarded": true
        },
        "pavkashop@gmail.com": {
          "name": "Alberto 3",
          "email": "pavkashop@gmail.com",
          "passwordHash": "23yvh5c82u7_ybxb15_ajtftr",
          "salt": "xj6ftpmtu4lroyv23hfvrg",
          "role": "user",
          "marketplace_id": "prueba",
          "subscription_status": "active",
          "company": "",
          "lang": "es",
          "createdAt": "2026-05-10T16:27:23.548Z",
          "onboarded": true
        },
        "demo@katalync.com": {
          "name": "Demo Vendor",
          "email": "demo@katalync.com",
          "passwordHash": "qcpmh94b7e_3kz4mo_-p8vwau",
          "salt": "pwa6aa8ndzmw3jvxasjp3",
          "role": "user",
          "marketplace_id": "",
          "subscription_status": "active",
          "company": "",
          "lang": "es",
          "createdAt": "2026-05-14T23:16:53.879Z",
          "onboarded": false
        }
      },
      "sessions": {
        "moxcipgq_3zr9ecn9y1p2x9gdbe8yadkjgt0qnhzs": {
          "email": "test@example.com",
          "name": "Test User",
          "role": "user",
          "createdAt": 1778270798186
        },
        "moxcit9d_hu0audywo68l5yy1c84g68llzc0277wq": {
          "email": "test@example.com",
          "name": "Test User",
          "role": "user",
          "createdAt": 1778270803105
        },
        "moxcodpu_avoekkn0yni5l2dr4l55nvxlbr7kasq2r": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778271062899
        },
        "moxdjh2x_klkylqyoqiip9i1q83naea57xxpa93vg": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778272513593
        },
        "moxe85cj_9kwzl42kzejy21q843t2uni3fz47o74a": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778273664787
        },
        "moxf0ftk_jmp32r9oh64rzi0hdzfqhozvp030fm4a": {
          "email": "test@test.com",
          "name": "Test User",
          "role": "user",
          "createdAt": 1778274984728
        },
        "moxhf7zs_1r4zrj6hg6ma7774v2vjahbbcw9h0el7r": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778279033656
        },
        "moxjduyo_wciqa5jbxvdp2plwq7jhvupkjpt13gdi": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778282329344
        },
        "moxkgodn_ln4x0rtehydn3qa6j9abbgsumrl3xsir": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778284140395
        },
        "moybvtg8_cstt2636b9ww75boq7b6ejtea2syootqg": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778330196440
        },
        "moyksrdi_jeztrpybl6gglkcxbho764t4ebpnx1igb": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778345170326
        },
        "moykt5fr_a5qc2wfjmnj4xi65difglxjd89c4ujr4": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778345188551
        },
        "moymekqi_273i9gfo6vkoys3lng9nfo53zxoc1dphk": {
          "email": "tonifaceshop@gmail.com",
          "name": "Tonifaceshop",
          "role": "user",
          "createdAt": 1778347867770
        },
        "moz0ta8u_7tgl4f4i9i5rv7xv9ctc20w9ecmegibxl": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778372068638
        },
        "mozq549h_349laxhawswovofa5yv00lx6bg117kpxb": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778414611157
        },
        "mozrlmtv_pfazjf4uy4duvmk21dd9uo89djclqkkol": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778417061331
        },
        "mozrylrd_tnfb5300xk81iebst1hcgllln4jxdlw": {
          "email": "tonifaceshop@gmail.com",
          "name": "Tonifaceshop",
          "role": "user",
          "createdAt": 1778417666473
        },
        "mozrznia_99lyc26g10vtd966gm1prxqkqvo5xom8": {
          "email": "tonifaceshop@gmail.com",
          "name": "Tonifaceshop",
          "role": "user",
          "createdAt": 1778417715394
        },
        "mozs1r4a_xqhs5yu2djhyjjx3ks35ppnuujjkkli9m": {
          "email": "albertotiendainfo@gmail.com",
          "name": "Alberto 2",
          "role": "marketplace_admin",
          "createdAt": 1778417813386
        },
        "mozt6qs1_ofhppa76h8owi1iyux0dwsgm8zbpwk4a": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778419725841
        },
        "moztsk4p_ax0pjnswatrsd5yw16qqkpfqce0nx7jf": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778420743657
        },
        "moztsnoz_w83tk6asszsbmar2sv3d8p3zbjfh66vut": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778420748275
        },
        "moztsuhz_pa2uqzbll4q4z4rfajh1px2ynu8z7wom": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778420757095
        },
        "mozwa3on_3pre0ha5cmtapb208f5mid9do778vrl7": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778424921383
        },
        "mozwa8x3_2u5nanezvatf98slcc66964enosmv0plz": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778424928167
        },
        "mozwdpux_pdyghwgzxhdpv2n412dlgkxw5azhpwfc": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425090089
        },
        "mozwe47d_c5xrtyjbepknexy8sg3yvanblpqlly6yb": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425108681
        },
        "mozwh8q0_k4yjh22rsibxsbbpo0xf6oqetfi6sph": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425254504
        },
        "mozwhk2n_kj5jh344eg8wdh2ijjdnel7dn3kih1eq": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425269215
        },
        "mozwhxhv_ee14jhaxe5isizi23swyqvvkn93j56d": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425286612
        },
        "mozwkn0c_j8b1lu659vdpisfj2gm4sxmfoqem7k6j": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425412988
        },
        "mozwl8m9_uqepfmpua3y1qqtvgjtgem765ig621x": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778425440993
        },
        "mozwma21_wigd9c11bbnqescmfvtagemv3klv09w": {
          "email": "tonifaceshop@gmail.com",
          "name": "Tonifaceshop",
          "role": "user",
          "createdAt": 1778425489513
        },
        "mozwmnuz_2uyrfxh8tiie01jkqgjo1dubxatmtnesf": {
          "email": "albertotiendainfo@gmail.com",
          "name": "Alberto 2",
          "role": "marketplace_admin",
          "createdAt": 1778425507403
        },
        "mozwo4lb_7jy79171acpo8locao704dg1zxgklxchd": {
          "email": "albertoticketsinfo@gmail.com",
          "name": "Alberto 3",
          "role": "user",
          "createdAt": 1778425575743
        },
        "mozx3ibb_b42jpiv21ta4abc17nx4ab7f953lxrm": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778426293367
        },
        "mozx8sjc_g9b2t8jibz84kpjdmjzplwc2aokb3e2": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778426539896
        },
        "mozx8xwu_ooo5o06pep9mgqct2iix7p0ctrdzupykys": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778426546862
        },
        "mozxuae6_iu18xq7bqdmyp888kp53lj1juokbc6a": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778427542814
        },
        "mozy1p0f_ivc03wnio1fgjfryu4lfwdd41yya26jqb": {
          "email": "albertoticketsinfo@gmail.com",
          "name": "Alberto 3",
          "role": "user",
          "createdAt": 1778427888351
        },
        "mozy6qpv_pi11ivdbrnduxpolxalc7yz9y8jlwgt": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778428123843
        },
        "mozytr1v_mvyl3m65qkprwtw3xfcxjsj95qoyr0ej": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778429197363
        },
        "mozyu0lr_meijsvng9pxm1e7ef2orcb6ahafizoe": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778429209743
        },
        "mozzqqv1_fzj4vqikgaiq2i2l1020trzuh1ridomn": {
          "email": "pavkashop@gmail.com",
          "name": "Alberto 3",
          "role": "user",
          "createdAt": 1778430736765
        },
        "mp01te45_qtpsthkf9mbyw3dd82qeb23iu8yqrmj": {
          "email": "pavkashop@gmail.com",
          "name": "Alberto 3",
          "role": "user",
          "createdAt": 1778434219445
        },
        "mp02mam7_aju713y1cl6xnv26rej04w4fpg1rded": {
          "email": "albertotiendainfo@gmail.com",
          "name": "Alberto 2",
          "role": "marketplace_admin",
          "createdAt": 1778435567935
        },
        "mp09pkms_z9k1rjy7ddr57z83jvyme60t0edki5kpoi": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778447478196
        },
        "mp0tdalr_4apq3nd2gaa8cax2ldvc5r34208hfa6sr": {
          "email": "tonifaceshop@gmail.com",
          "name": "Tonifaceshop",
          "role": "user",
          "createdAt": 1778480497647
        },
        "mp0z4dwx_far7rxj8s24afbr8asi8jcp67qk25o1v": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778490159729
        },
        "mp19n3is_oz4z836gsrubrnv1ilmf2eddqtpgjel": {
          "email": "tonifaceshop@gmail.com",
          "name": "Tonifaceshop",
          "role": "user",
          "createdAt": 1778507828884
        },
        "mp1r8tnc_3dwfkybar6ht5cedcp2yklcxmmfwesb": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778537395992
        },
        "mp3lhy0s_lkbla2j2o5g5dgtkra39xr0zbms01ktzqg": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778648676220
        },
        "mp3lj5t8_w4vfhq968bmacokz2yikctzj5p8uqruta": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778648732972
        },
        "mp3m964z_xdfs94oecpsuqucz3xfwb1ah1kapdefd": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778649946451
        },
        "mp3mnbns_eol3nd6qo5ahtpwfyybxeptvxc0p6ns": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778650606792
        },
        "mp3n4gkh_ee3vr3u4s2abbn0ox7ipvenlyp3360q": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778651406305
        },
        "mp3pmftp_4pi51c5kopatdggzrylk7ae5eg712jz6": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778655604381
        },
        "mp3trd1s_e5z5lwbk7aqyucw4e7igeh77n3g7ykwmo": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778662552528
        },
        "mp3u7afk_5k056feyz1gjdk4mwf4i1iuxc8j8kxvn": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778663295632
        },
        "mp4fnvvg_d8k4os1gtafh326qp9jzcujz881rcypv": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778699341852
        },
        "mp57wywk_cekhvkk8x8jr0jfqywgbej911u0aksd": {
          "email": "alberto@prometeix.com",
          "name": "Alberto",
          "role": "admin",
          "createdAt": 1778746794932
        },
        "mp63za9e_5k0kblevoo7hwsxuhz7e77ik2f3qtusub": {
          "email": "demo@katalync.com",
          "name": "Demo Vendor",
          "role": "user",
          "createdAt": 1778800650674
        },
        "mp63zi7j_bkudmhzlwjazaflb0ilpga98fubhmhtme": {
          "email": "demo@katalync.com",
          "name": "Demo Vendor",
          "role": "user",
          "createdAt": 1778800660975
        },
        "mp641cz2_nremvgfs5lfoci6lok52znme1rl1stvs": {
          "email": "demo@katalync.com",
          "name": "Demo Vendor",
          "role": "user",
          "createdAt": 1778800747502
        },
        "mp641isc_j83d80nbetdj8264013auvjm2bzez9f9": {
          "email": "demo@katalync.com",
          "name": "Demo Vendor",
          "role": "user",
          "createdAt": 1778800755036
        },
        "mp641ucc_q2lmayfm3ji77tnqr712g58vzk9yol5nl": {
          "email": "demo@katalync.com",
          "name": "Demo Vendor",
          "role": "user",
          "createdAt": 1778800770012
        }
      },
      "notifications": {
        "alberto@prometeix.com": [
          {
            "id": "mp3z34u3",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-13T11:24:59.835Z"
          },
          {
            "id": "mp3yy4fy",
            "type": "info",
            "title": "Synara",
            "message": "Validación completada: 198 / 198 productos válidos",
            "read": true,
            "date": "2026-05-13T11:21:06.046Z"
          },
          {
            "id": "mp3yqjrm",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-13T11:15:12.658Z"
          },
          {
            "id": "mp3yj805",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-13T11:09:30.821Z"
          },
          {
            "id": "mp3ye6lx",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-13T11:05:35.733Z"
          },
          {
            "id": "mp3u7lqf",
            "type": "info",
            "title": "Synara",
            "message": "Validación completada: 198 / 198 productos válidos",
            "read": true,
            "date": "2026-05-13T09:08:30.279Z"
          },
          {
            "id": "mp3o06nr",
            "type": "info",
            "title": "Synara",
            "message": "Validación completada: 0 / 198 productos válidos",
            "read": true,
            "date": "2026-05-13T06:14:46.455Z"
          },
          {
            "id": "mp3nyfsr",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-13T06:13:24.987Z"
          },
          {
            "id": "mp33jzs5",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-12T20:42:18.725Z"
          },
          {
            "id": "mp2p3616",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-12T13:57:19.050Z"
          },
          {
            "id": "mp2oxzp7",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-12T13:53:17.563Z"
          },
          {
            "id": "mp2otcl9",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-12T13:49:40.989Z"
          },
          {
            "id": "mp2omwlh",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-12T13:44:40.325Z"
          },
          {
            "id": "mp2mb5nr",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 150 productos OK",
            "read": true,
            "date": "2026-05-12T12:39:32.968Z"
          },
          {
            "id": "mp1tv9ck",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T23:23:22.004Z"
          },
          {
            "id": "mp1tnte6",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T23:17:34.734Z"
          },
          {
            "id": "mp1tnh61",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T23:17:18.889Z"
          },
          {
            "id": "mp1swsnq",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T22:56:34.070Z"
          },
          {
            "id": "mp1sw88q",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T22:56:07.610Z"
          },
          {
            "id": "mp1rojbm",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T22:22:09.106Z"
          },
          {
            "id": "mp1rkk46",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-11T22:19:03.510Z"
          },
          {
            "id": "mp1rgazf",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-11T22:15:45.051Z"
          },
          {
            "id": "mp1rcugt",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": true,
            "date": "2026-05-11T22:13:03.677Z"
          }
        ],
        "test@test.com": [
          {
            "id": "moxf0ftk",
            "type": "success",
            "title": "Bienvenido a PROMETEIX",
            "message": "Tu cuenta ha sido creada correctamente. Comienza subiendo tu primer catálogo.",
            "read": false,
            "date": "2026-05-08T21:16:24.728Z"
          }
        ],
        "tonifaceshop@gmail.com": [
          {
            "id": "mp1jt6wp",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": false,
            "date": "2026-05-11T18:41:49.369Z"
          },
          {
            "id": "mp19ng8c",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 4231 productos OK",
            "read": true,
            "date": "2026-05-11T13:57:25.356Z"
          },
          {
            "id": "mp19img0",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 4231 productos OK",
            "read": true,
            "date": "2026-05-11T13:53:40.128Z"
          },
          {
            "id": "mp186ycz",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 4231 productos OK",
            "read": true,
            "date": "2026-05-11T13:16:36.083Z"
          },
          {
            "id": "mp0tbikn",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 20 productos OK",
            "read": true,
            "date": "2026-05-11T06:20:14.663Z"
          },
          {
            "id": "mp0t3098",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 50 productos OK",
            "read": true,
            "date": "2026-05-11T06:13:37.676Z"
          },
          {
            "id": "mozs05sl",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 50 productos OK",
            "read": true,
            "date": "2026-05-10T12:55:39.093Z"
          },
          {
            "id": "moymdish",
            "type": "success",
            "title": "Bienvenido a PROMETEIX",
            "message": "Tu cuenta ha sido creada. Ya puedes acceder con tu email y contraseña.",
            "read": true,
            "date": "2026-05-09T17:30:18.593Z"
          }
        ],
        "albertotiendainfo@gmail.com": [
          {
            "id": "mp2pkbs5",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-12T14:10:39.653Z"
          },
          {
            "id": "mp2pdul6",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-12T14:05:37.434Z"
          },
          {
            "id": "mp2md7ml",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-12T12:41:08.829Z"
          },
          {
            "id": "mp28i6ow",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-12T06:13:06.272Z"
          },
          {
            "id": "mp1r39jy",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-11T22:05:36.670Z"
          },
          {
            "id": "mp1r1p9n",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-11T22:04:23.723Z"
          },
          {
            "id": "mp1r0t08",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-11T22:03:41.912Z"
          },
          {
            "id": "mp1qy3vu",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 9 productos OK",
            "read": false,
            "date": "2026-05-11T22:01:36.042Z"
          },
          {
            "id": "mp1qcfei",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-11T21:44:44.538Z"
          },
          {
            "id": "mp1ltizn",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 198 productos OK",
            "read": true,
            "date": "2026-05-11T19:38:04.259Z"
          },
          {
            "id": "mp1kamio",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 199 productos OK",
            "read": true,
            "date": "2026-05-11T18:55:22.752Z"
          },
          {
            "id": "mp0tgewk",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 20 productos OK",
            "read": true,
            "date": "2026-05-11T06:24:03.188Z"
          },
          {
            "id": "mozs11jf",
            "type": "success",
            "title": "Bienvenido a PROMETEIX",
            "message": "Tu cuenta ha sido creada. Ya puedes acceder con tu email y contraseña.",
            "read": true,
            "date": "2026-05-10T12:56:20.235Z"
          }
        ],
        "albertoticketsinfo@gmail.com": [
          {
            "id": "mozwnax9",
            "type": "success",
            "title": "Bienvenido a Katalync",
            "message": "Tu cuenta ha sido creada. Ya puedes acceder con tu email y contraseña.",
            "read": false,
            "date": "2026-05-10T15:05:37.293Z"
          }
        ],
        "pavkashop@gmail.com": [
          {
            "id": "mp1gtbgc",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 4231 productos OK",
            "read": true,
            "date": "2026-05-11T17:17:56.412Z"
          },
          {
            "id": "mp1g5rxf",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 4231 productos OK",
            "read": true,
            "date": "2026-05-11T16:59:38.019Z"
          },
          {
            "id": "mp01vynd",
            "type": "info",
            "title": "Synara",
            "message": "Repricing calculado: 50 recomendaciones",
            "read": true,
            "date": "2026-05-10T17:32:19.369Z"
          },
          {
            "id": "mp01urku",
            "type": "info",
            "title": "Synara",
            "message": "Stock actualizado: 50 productos OK",
            "read": true,
            "date": "2026-05-10T17:31:23.550Z"
          },
          {
            "id": "mp01tin3",
            "type": "info",
            "title": "Synara",
            "message": "Validación completada: 50 / 50 productos válidos",
            "read": true,
            "date": "2026-05-10T17:30:25.311Z"
          },
          {
            "id": "mp01qkfn",
            "type": "info",
            "title": "Synara",
            "message": "Precios generados: 0 productos OK",
            "read": true,
            "date": "2026-05-10T17:28:07.667Z"
          },
          {
            "id": "mp01oajl",
            "type": "info",
            "title": "Synara",
            "message": "Catálogo procesado: 50 productos OK",
            "read": true,
            "date": "2026-05-10T17:26:21.537Z"
          },
          {
            "id": "mozzkgm4",
            "type": "success",
            "title": "Bienvenido a Katalync",
            "message": "Tu cuenta ha sido creada. Ya puedes acceder con tu email y contraseña.",
            "read": true,
            "date": "2026-05-10T16:27:23.548Z"
          }
        ],
        "demo@katalync.com": [
          {
            "id": "mp63yhvb",
            "type": "success",
            "title": "Bienvenido a Katalync",
            "message": "Tu cuenta ha sido creada. Ya puedes acceder con tu email y contraseña.",
            "read": false,
            "date": "2026-05-14T23:16:53.879Z"
          }
        ]
      },
      "stripeLog": [
        {
          "email": "albertoticketsinfo@gmail.com",
          "status": "active",
          "event": "test",
          "timestamp": "2026-05-10T15:31:14.832Z"
        },
        {
          "email": "albertoticketsinfo@gmail.com",
          "status": "active",
          "event": "checkout.session.completed",
          "timestamp": "2026-05-10T15:31:19.807Z"
        },
        {
          "email": "albertoticketsinfo@gmail.com",
          "status": "active",
          "event": "checkout.session.completed",
          "timestamp": "2026-05-10T15:39:00.451Z"
        },
        {
          "email": "alberto@prometeix.com",
          "status": "active",
          "event": "checkout.session.completed",
          "timestamp": "2026-05-10T15:40:50.065Z"
        },
        {
          "email": "albertoticketsinfo@gmail.com",
          "status": "suspended",
          "event": "invoice.payment_failed",
          "timestamp": "2026-05-10T15:40:50.389Z"
        }
      ]
    }
  },
  "pinData": null,
  "activeVersionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
  "versionCounter": 228,
  "shared": [
    {
      "updatedAt": "2026-05-08T19:37:44.162Z",
      "createdAt": "2026-05-08T19:37:44.162Z",
      "role": "workflow:owner",
      "workflowId": "wS7ZcTSIX5wRqhq1",
      "projectId": "tyxNezNQ7cFvZD0D",
      "project": {
        "updatedAt": "2026-03-15T20:06:27.953Z",
        "createdAt": "2026-03-15T20:01:59.520Z",
        "id": "tyxNezNQ7cFvZD0D",
        "name": "Alberto Rodíguez <albertorodriguezuson07@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      }
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-10T15:55:04.517Z",
    "createdAt": "2026-05-10T15:55:04.517Z",
    "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
    "workflowId": "wS7ZcTSIX5wRqhq1",
    "nodes": [
      {
        "id": "40d21406-85ad-4894-a07b-477370380534",
        "name": "Register",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-register",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "748ddf1e-1cdf-4bc3-b723-272f15631887"
      },
      {
        "id": "fc0a75fd-ace2-4b8e-94d6-1fc2e09b0ad2",
        "name": "Do Register",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nif (!sd.notifications) sd.notifications = {};\nconst body = $input.first().json.body;\nconst userCount = Object.keys(sd.users).length;\nif (userCount > 0) {\n  if (!body.adminToken) return [{ json: { success: false, error: 'Registro desactivado. Solo un administrador puede crear cuentas.' } }];\n  const adminSession = getSession(sd, body.adminToken);\n  if (!adminSession) return [{ json: { success: false, error: 'Token de administrador no valido o expirado' } }];\n  const adminUser = sd.users[adminSession.email];\n  if (!adminUser || !canManageUsers(adminUser.role)) return [{ json: { success: false, error: 'No tienes permisos para crear cuentas' } }];\n  // marketplace_admin can only create 'user' role within their marketplace\n  if (adminUser.role === 'marketplace_admin') {\n    if (body.role && body.role !== 'user' && body.role !== 'marketplace_admin') return [{ json: { success: false, error: 'Solo puedes crear vendedores' } }];\n  }\n}\nif (!body.name || !body.email || !body.password) return [{ json: { success: false, error: 'Nombre, email y contraseña son obligatorios' } }];\nconst email = body.email.toLowerCase().trim();\nconst name = body.name.trim();\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) return [{ json: { success: false, error: 'Email no valido' } }];\nif (body.password.length < 8) return [{ json: { success: false, error: 'La contraseña debe tener al menos 8 caracteres' } }];\nif (sd.users[email]) return [{ json: { success: false, error: 'Ya existe una cuenta con ese email' } }];\nconst salt = makeSalt();\nconst hash = simpleHash(body.password + salt);\nconst isPrometeix = email.endsWith('@prometeix.com');\n// Determine role: if admin provides role, use it; if prometeix email, admin; else user\nlet role = 'user';\nif (isPrometeix) { role = 'admin'; }\nelse if (body.role && ['user', 'marketplace_admin', 'super_admin', 'admin'].includes(body.role)) { role = body.role; }\nconst marketplace_id = body.marketplace_id || '';\nconst subscription_status = isPrometeix || role === 'admin' || role === 'super_admin' ? 'active' : 'pending_payment';\nsd.users[email] = { name, email, passwordHash: hash, salt, role, marketplace_id, subscription_status, company: body.company || '', lang: body.lang || 'es', createdAt: new Date().toISOString(), onboarded: true };\nif (!sd.notifications[email]) sd.notifications[email] = [];\nsd.notifications[email].push({ id: Date.now().toString(36), type: 'success', title: 'Bienvenido a Katalync', message: 'Tu cuenta ha sido creada. Ya puedes acceder con tu email y contraseña.', read: false, date: new Date().toISOString() });\nreturn [{ json: { success: true, message: 'Usuario creado correctamente', name, email, role, marketplace_id, subscription_status } }];\n"
        }
      },
      {
        "id": "6cf1fcfd-331f-4996-ab7b-756a2aee4f55",
        "name": "Login",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          224
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-login",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "17bbfc76-8a08-431f-98a8-66eb94e398dc"
      },
      {
        "id": "6da8dd8e-8c2d-4d7f-9638-02a573d2d42c",
        "name": "Do Login",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          224
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nif (!body.email || !body.password) return [{ json: { success: false, error: 'Email y contraseña son obligatorios' } }];\nconst email = body.email.toLowerCase().trim();\nconst user = sd.users[email];\nif (!user) return [{ json: { success: false, error: 'Email o contraseña incorrectos' } }];\nconst hash = simpleHash(body.password + user.salt);\nif (hash !== user.passwordHash) return [{ json: { success: false, error: 'Email o contraseña incorrectos' } }];\nconst token = makeToken();\nsd.sessions[token] = { email: user.email, name: user.name, role: user.role || 'user', createdAt: Date.now() };\nconst weekAgo = Date.now() - 7*24*60*60*1000;\nfor (const t of Object.keys(sd.sessions)) { if (sd.sessions[t].createdAt < weekAgo) delete sd.sessions[t]; }\nreturn [{ json: { success: true, token, name: user.name, email: user.email, role: user.role || 'user', marketplace_id: user.marketplace_id || '', subscription_status: user.subscription_status || 'active', company: user.company || '', lang: user.lang || 'es', onboarded: user.onboarded || false } }];\n"
        }
      },
      {
        "id": "6df1260a-d51f-4212-85fd-964ed046d79e",
        "name": "Verify",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          448
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-verify",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "68ce8241-c941-4e0d-99d7-d6039c1bed75"
      },
      {
        "id": "942af770-dfe5-4c66-9ae1-c277fe2b270b",
        "name": "Do Verify",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          448
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.users) sd.users = {};\nif (!sd.notifications) sd.notifications = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'Sesion no valida o expirada' } }];\nconst user = sd.users[session.email] || {};\nconst notifs = (sd.notifications[session.email] || []);\nconst unread = notifs.filter(n => !n.read).length;\nreturn [{ json: { success: true, name: session.name, email: session.email, role: user.role || session.role || 'user', marketplace_id: user.marketplace_id || '', subscription_status: user.subscription_status || 'active', company: user.company || '', lang: user.lang || 'es', onboarded: user.onboarded || false, unreadNotifications: unread } }];\n"
        }
      },
      {
        "id": "c6ce6f9b-a76f-47cf-9712-6c843e118c19",
        "name": "Profile",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          672
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-profile",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "7b093e5f-4911-4567-a79b-bd3abd979f95"
      },
      {
        "id": "ca4d8ddc-eabe-4469-be4b-72563ff03014",
        "name": "Do Profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          672
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.users) sd.users = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nconst user = sd.users[session.email];\nif (!user) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nif (body.name) { user.name = body.name.trim(); session.name = user.name; }\nif (body.company !== undefined) user.company = body.company.trim();\nif (body.lang) user.lang = body.lang;\nif (body.onboarded !== undefined) user.onboarded = body.onboarded;\nreturn [{ json: { success: true, message: 'Perfil actualizado', name: user.name, email: user.email, company: user.company, lang: user.lang, onboarded: user.onboarded } }];"
        }
      },
      {
        "id": "b99207de-a80a-46e3-bd50-b3544924b916",
        "name": "Password",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          896
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-password",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "0d95d9ad-a12a-4c64-92e5-11ae0f8f4e98"
      },
      {
        "id": "358f08b3-af66-4a8f-932d-196b9e357dfa",
        "name": "Do Password",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          896
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.users) sd.users = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nconst user = sd.users[session.email];\nif (!user) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nif (!body.currentPassword || !body.newPassword) return [{ json: { success: false, error: 'Contrase\\u00f1a actual y nueva son obligatorias' } }];\nconst currentHash = simpleHash(body.currentPassword + user.salt);\nif (currentHash !== user.passwordHash) return [{ json: { success: false, error: 'La contrase\\u00f1a actual es incorrecta' } }];\nif (body.newPassword.length < 4) return [{ json: { success: false, error: 'La nueva contrase\\u00f1a debe tener al menos 4 caracteres' } }];\nconst newSalt = makeSalt();\nuser.salt = newSalt;\nuser.passwordHash = simpleHash(body.newPassword + newSalt);\nreturn [{ json: { success: true, message: 'Contrase\\u00f1a actualizada correctamente' } }];"
        }
      },
      {
        "id": "f2cc3c70-1b54-485d-a625-c9b49408b4aa",
        "name": "Notifications",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          1120
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-notifications",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "6c596967-b840-4f56-ae08-2a391557bd89"
      },
      {
        "id": "28dde9b1-d104-489a-a252-c836d25ad7d7",
        "name": "Do Notifications",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          1120
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.sessions) sd.sessions = {};\nif (!sd.notifications) sd.notifications = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nconst email = session.email;\nif (!sd.notifications[email]) sd.notifications[email] = [];\n\nif (body.action === 'create' && body.message) {\n  sd.notifications[email].unshift({ id: Date.now().toString(36), type: 'info', title: 'Synara', message: body.message, read: false, date: new Date().toISOString() });\n  if (sd.notifications[email].length > 50) sd.notifications[email] = sd.notifications[email].slice(0, 50);\n  return [{ json: { success: true } }];\n}\n\nif (body.action === 'markRead' && body.notifId) {\n  const n = sd.notifications[email].find(x => x.id === body.notifId);\n  if (n) n.read = true;\n  return [{ json: { success: true } }];\n}\nif (body.action === 'markAllRead') {\n  sd.notifications[email].forEach(n => n.read = true);\n  return [{ json: { success: true } }];\n}\nif (body.action === 'clear') {\n  sd.notifications[email] = sd.notifications[email].filter(n => !n.read);\n  return [{ json: { success: true } }];\n}\n\nconst notifs = sd.notifications[email].slice(0, 50);\nconst unread = notifs.filter(n => !n.read).length;\nreturn [{ json: { success: true, notifications: notifs, unread: unread } }];"
        }
      },
      {
        "id": "06633f6f-5e05-4aa1-b2f2-d05645a0b38c",
        "name": "Admin List",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          1344
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-admin-users",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "8e548cc2-866f-4260-87eb-00709369936a"
      },
      {
        "id": "15c289c8-494c-4c06-942a-5f09102aa199",
        "name": "Do Admin List",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          1344
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session || !canManageUsers(session.role)) return [{ json: { success: false, error: 'No autorizado' } }];\nconst users = Object.values(sd.users).map(u => ({ name: u.name, email: u.email, role: u.role || 'user', marketplace_id: u.marketplace_id || '', subscription_status: u.subscription_status || 'active', company: u.company || '', lang: u.lang || 'es', createdAt: u.createdAt, onboarded: u.onboarded || false }));\nconst activeSessions = Object.values(sd.sessions).length;\nreturn [{ json: { success: true, users, totalUsers: users.length, activeSessions } }];\n"
        }
      },
      {
        "id": "9427de2f-805e-4ea9-90c8-ff31138b5506",
        "name": "Admin Delete",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          1568
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-admin-delete",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "90327446-d6e3-4f58-b686-7bd6e81c1d43"
      },
      {
        "id": "d1ef56a5-4de7-40e7-a3d5-d8869ccd74a9",
        "name": "Do Admin Delete",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          1568
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session || session.role !== 'admin') return [{ json: { success: false, error: 'No autorizado' } }];\nif (!body.email) return [{ json: { success: false, error: 'Email obligatorio' } }];\nconst t = body.email.toLowerCase().trim();\nif (t === session.email) return [{ json: { success: false, error: 'No puedes eliminar tu propia cuenta' } }];\nif (!sd.users[t]) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nconst dn = sd.users[t].name; delete sd.users[t];\nfor (const k of Object.keys(sd.sessions)) { if (sd.sessions[k].email === t) delete sd.sessions[k]; }\nreturn [{ json: { success: true, message: dn + ' eliminado correctamente' } }];"
        }
      },
      {
        "id": "dd89f3ac-8c26-4ddc-a32b-903054bb86b8",
        "name": "Admin Role",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          1792
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "auth-admin-role",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson"
        },
        "webhookId": "568f30d6-3a58-4509-b6d5-47bc18dd83fb"
      },
      {
        "id": "3288ca46-32f7-4671-bc4a-30920dbb9eed",
        "name": "Do Admin Role",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          1792
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "function simpleHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507);\n  h1 ^= Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507);\n  h2 ^= Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  const n = 4294967296 * (2097151 & h2) + (h1 >>> 0);\n  return n.toString(36) + '_' + h2.toString(36) + '_' + h1.toString(36);\n}\nfunction makeToken() {\n  return Date.now().toString(36) + '_' + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction makeSalt() {\n  return Math.random().toString(36).slice(2) + Math.random().toString(36).slice(2);\n}\nfunction getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\nfunction canManageUsers(role) {\n  return role === 'admin' || role === 'super_admin' || role === 'marketplace_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session || !canManageUsers(session.role)) return [{ json: { success: false, error: 'No autorizado' } }];\nif (!body.email) return [{ json: { success: false, error: 'Email obligatorio' } }];\nconst t = body.email.toLowerCase().trim();\nif (!sd.users[t]) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\n\n// Update role if provided\nif (body.role) {\n  const validRoles = ['user', 'marketplace_admin', 'super_admin', 'admin'];\n  const newRole = validRoles.includes(body.role) ? body.role : 'user';\n  // marketplace_admin cannot assign super_admin/admin roles\n  if (session.role === 'marketplace_admin' && (newRole === 'admin' || newRole === 'super_admin')) {\n    return [{ json: { success: false, error: 'No tienes permisos para asignar ese rol' } }];\n  }\n  sd.users[t].role = newRole;\n  // Update active sessions for this user\n  for (const k of Object.keys(sd.sessions)) {\n    if (sd.sessions[k].email === t) sd.sessions[k].role = newRole;\n  }\n}\n\n// Update marketplace_id if provided (even empty string to unassign)\nif (body.marketplace_id !== undefined) {\n  sd.users[t].marketplace_id = body.marketplace_id;\n}\n\nreturn [{ json: { success: true, message: sd.users[t].name + ' actualizado correctamente' } }];\n"
        }
      },
      {
        "parameters": {
          "path": "auth-admin-subscription",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          1992
        ],
        "id": "sub-webhook-001",
        "name": "Admin Subscription",
        "webhookId": "auth-admin-subscription"
      },
      {
        "parameters": {
          "jsCode": "function getSession(staticData, token) {\n  if (!token || !staticData.sessions || !staticData.sessions[token]) return null;\n  const s = staticData.sessions[token];\n  if (Date.now() - s.createdAt > 7 * 24 * 60 * 60 * 1000) { delete staticData.sessions[token]; return null; }\n  return s;\n}\nfunction isAdminRole(role) {\n  return role === 'admin' || role === 'super_admin';\n}\n\nconst sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nif (!sd.sessions) sd.sessions = {};\nconst body = $input.first().json.body;\nconst session = getSession(sd, body.token);\nif (!session) return [{ json: { success: false, error: 'No autorizado' } }];\nif (!body.email || !body.subscription_status) return [{ json: { success: false, error: 'Email y estado son obligatorios' } }];\nconst targetEmail = body.email.toLowerCase().trim();\nif (!sd.users[targetEmail]) return [{ json: { success: false, error: 'Usuario no encontrado' } }];\nconst validStatuses = ['active', 'pending_payment', 'suspended', 'cancelled'];\nif (!validStatuses.includes(body.subscription_status)) return [{ json: { success: false, error: 'Estado no valido' } }];\n\n// Allow self-activation from Stripe redirect (user activating their own account after payment)\nconst isSelfActivation = body.source === 'stripe_redirect' && session.email === targetEmail && body.subscription_status === 'active';\nconst isAdmin = isAdminRole(session.role || (sd.users[session.email] || {}).role);\n\nif (!isAdmin && !isSelfActivation) return [{ json: { success: false, error: 'No autorizado' } }];\n\nsd.users[targetEmail].subscription_status = body.subscription_status;\nreturn [{ json: { success: true, message: sd.users[targetEmail].name + ' - estado: ' + body.subscription_status } }];",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          1992
        ],
        "id": "sub-code-001",
        "name": "Do Admin Subscription"
      },
      {
        "parameters": {
          "path": "stripe-subscription-update",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          260,
          1600
        ],
        "id": "stripe-sub-update-webhook",
        "name": "Stripe Sub Update",
        "webhookId": "stripe-subscription-update"
      },
      {
        "parameters": {
          "jsCode": "const sd = $getWorkflowStaticData('global');\nif (!sd.users) sd.users = {};\nconst body = $input.first().json.body;\nconst source = body.source || '';\n\n// Only accept from stripe_webhook source (internal call from our webhook workflow)\nif (source !== 'stripe_webhook') {\n  return [{ json: { success: false, error: 'Unauthorized source' } }];\n}\n\nconst email = (body.email || '').toLowerCase().trim();\nconst newStatus = body.subscription_status;\nif (!email || !newStatus) return [{ json: { success: false, error: 'Email and status required' } }];\n\nconst validStatuses = ['active', 'pending_payment', 'suspended', 'cancelled'];\nif (!validStatuses.includes(newStatus)) return [{ json: { success: false, error: 'Invalid status' } }];\n\nif (!sd.users[email]) return [{ json: { success: false, error: 'User not found: ' + email } }];\n\nsd.users[email].subscription_status = newStatus;\n\n// Log the event\nif (!sd.stripeLog) sd.stripeLog = [];\nsd.stripeLog.push({ email, status: newStatus, event: body.event || '', timestamp: new Date().toISOString() });\nif (sd.stripeLog.length > 200) sd.stripeLog = sd.stripeLog.slice(-100);\n\nreturn [{ json: { success: true, email, status: newStatus, event: body.event } }];",
          "mode": "runOnceForAllItems"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          1600
        ],
        "id": "stripe-sub-update-code",
        "name": "Do Stripe Sub Update"
      }
    ],
    "connections": {
      "Register": {
        "main": [
          [
            {
              "node": "Do Register",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login": {
        "main": [
          [
            {
              "node": "Do Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify": {
        "main": [
          [
            {
              "node": "Do Verify",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Profile": {
        "main": [
          [
            {
              "node": "Do Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Password": {
        "main": [
          [
            {
              "node": "Do Password",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notifications": {
        "main": [
          [
            {
              "node": "Do Notifications",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Admin List": {
        "main": [
          [
            {
              "node": "Do Admin List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Admin Delete": {
        "main": [
          [
            {
              "node": "Do Admin Delete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Admin Role": {
        "main": [
          [
            {
              "node": "Do Admin Role",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Admin Subscription": {
        "main": [
          [
            {
              "node": "Do Admin Subscription",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stripe Sub Update": {
        "main": [
          [
            {
              "node": "Do Stripe Sub Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alberto Rodíguez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-10T15:55:04.644Z",
        "id": 351,
        "workflowId": "wS7ZcTSIX5wRqhq1",
        "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
        "event": "activated",
        "userId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      },
      {
        "createdAt": "2026-05-10T15:55:11.852Z",
        "id": 353,
        "workflowId": "wS7ZcTSIX5wRqhq1",
        "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
        "event": "activated",
        "userId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      },
      {
        "createdAt": "2026-05-14T23:17:21.629Z",
        "id": 811,
        "workflowId": "wS7ZcTSIX5wRqhq1",
        "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
        "event": "activated",
        "userId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      },
      {
        "createdAt": "2026-05-10T15:55:04.583Z",
        "id": 350,
        "workflowId": "wS7ZcTSIX5wRqhq1",
        "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
        "event": "deactivated",
        "userId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      },
      {
        "createdAt": "2026-05-10T15:55:11.809Z",
        "id": 352,
        "workflowId": "wS7ZcTSIX5wRqhq1",
        "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
        "event": "deactivated",
        "userId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      },
      {
        "createdAt": "2026-05-14T23:17:21.582Z",
        "id": 810,
        "workflowId": "wS7ZcTSIX5wRqhq1",
        "versionId": "c43159f1-dffe-4762-8fc8-d52bba11e9bb",
        "event": "deactivated",
        "userId": "b68b68ca-9c39-4207-ad76-245aa5cfbc15"
      }
    ]
  }
}