backend/workflows/auto-convert.json
{
  "name": "Katalync - Auto Convert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-convert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ac-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "auto-convert"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(options.timeout || 15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': 'Bearer ' + SUPABASE_KEY,\n  'Content-Type': 'application/json'\n};\n\nasync function sbFetch(path, options = {}) {\n  const resp = await httpReq(SUPABASE_URL + path, {\n    headers: { ...sbHeaders, ...(options.headers || {}) },\n    method: options.method || 'GET',\n    body: options.body ? JSON.stringify(options.body) : undefined\n  });\n  const text = await resp.text();\n  if (!resp.ok) throw new Error('Supabase ' + (options.method || 'GET') + ' ' + path.split('?')[0] + ' failed (' + resp.status + '): ' + text.substring(0, 300));\n  return text ? JSON.parse(text) : null;\n}\n\nconst input = $input.first().json;\nconst body = input.body || input;\nconst { token, vendor_id, marketplaces } = body;\n\nif (!token || !vendor_id) {\n  return [{ json: { success: false, error: 'Missing token or vendor_id' } }];\n}\n\ntry {\n  // ========== AUTH ==========\n  const authResp = await httpReq('https://api.katalync.com/webhook/auth-verify', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token })\n  });\n  const authData = await authResp.json();\n  if (!authData.success) {\n    return [{ json: { success: false, error: authData.error || 'Token invalid or expired' } }];\n  }\n\n  // Upsert user\n  const upsertData = await sbFetch('/users?on_conflict=email', {\n    method: 'POST',\n    headers: { 'Prefer': 'resolution=merge-duplicates,return=representation' },\n    body: [{ email: authData.email, name: authData.name || authData.email, password_hash: 'oauth-managed', role: authData.role || 'user', company: authData.company || null, lang: authData.lang || 'es', onboarded: authData.onboarded || false, subscription_status: authData.subscription_status || 'active', last_login_at: new Date().toISOString() }]\n  });\n  const user_id = upsertData && upsertData.length > 0 ? upsertData[0].id : null;\n  if (!user_id) return [{ json: { success: false, error: 'Failed to provision user' } }];\n\n  // ========== VENDOR ==========\n  const vendors = await sbFetch('/vendors?id=eq.' + vendor_id + '&user_id=eq.' + user_id + '&select=*');\n  if (!vendors || vendors.length === 0) {\n    return [{ json: { success: false, error: 'Vendor not found or access denied' } }];\n  }\n  const vendor = vendors[0];\n\n  // Determine marketplaces to process\n  const mktList = Array.isArray(marketplaces) && marketplaces.length > 0\n    ? marketplaces\n    : (vendor.config && vendor.config.marketplaces ? vendor.config.marketplaces : ['sprinter_es']);\n\n  // ========== READ UNCONVERTED PRODUCTS ==========\n  const rawProducts = await sbFetch(\n    '/vendor_products?vendor_id=eq.' + vendor_id +\n    '&or=(sprinter_product.is.null,sync_status.in.(synced,new,changed))' +\n    '&order=created_at.asc&limit=1000'\n  );\n\n  if (!Array.isArray(rawProducts) || rawProducts.length === 0) {\n    return [{ json: { success: true, converted: 0, total: 0, message: 'No products to convert — all already converted', marketplaces: mktList } }];\n  }\n\n  // ========== MAP TO CONVERTER FORMAT ==========\n  const mappedProducts = rawProducts.map(p => {\n    const rd = p.raw_data || {};\n    const hasDiscount = rd.compare_at_price && parseFloat(rd.compare_at_price) > (p.price || 0);\n    return {\n      sku: p.sku || '',\n      ean: p.ean || '',\n      nombre: p.name || '',\n      marca: p.brand || '',\n      categoria: p.category || '',\n      precio: hasDiscount ? String(rd.compare_at_price) : (p.price ? String(p.price) : '0'),\n      stock: p.stock != null ? String(p.stock) : '0',\n      imagen: p.image_url || '',\n      color: rd.variant_option1 || '',\n      talla: rd.variant_option2 || '',\n      peso: rd.variant_weight ? String(rd.variant_weight) : '',\n      'discount-price': hasDiscount ? String(p.price) : '',\n      variant_group_code: p.sku ? p.sku.replace(/-\\d+$/, '') : ''\n    };\n  });\n\n  // ========== PROCESS IN BATCHES PER MARKETPLACE ==========\n  const BATCH_SIZE = 30;\n  let totalConverted = 0;\n  let totalErrors = 0;\n  const mktResults = {};\n\n  for (const mkt of mktList) {\n    let mktConverted = 0;\n    let mktErrors = 0;\n    const batchErrors = [];\n\n    for (let i = 0; i < mappedProducts.length; i += BATCH_SIZE) {\n      const batch = mappedProducts.slice(i, i + BATCH_SIZE);\n      try {\n        const resp = await httpReq('https://api.katalync.com/webhook/process-products', {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({\n            token: token,\n            products: batch,\n            marketplace: mkt,\n            vendor_id: vendor_id,\n            convertImages: true,\n            generateDescriptions: true,\n            generateTitles: true\n          }),\n          timeout: 180000\n        });\n\n        if (resp.ok) {\n          mktConverted += batch.length;\n        } else {\n          const errText = await resp.text();\n          mktErrors += batch.length;\n          batchErrors.push('Batch ' + Math.floor(i / BATCH_SIZE + 1) + ': HTTP ' + resp.status + ' - ' + errText.substring(0, 200));\n        }\n      } catch (e) {\n        mktErrors += batch.length;\n        batchErrors.push('Batch ' + Math.floor(i / BATCH_SIZE + 1) + ': ' + e.message);\n      }\n\n      // Brief pause between batches\n      if (i + BATCH_SIZE < mappedProducts.length) {\n        await new Promise(r => setTimeout(r, 500));\n      }\n    }\n\n    totalConverted += mktConverted;\n    totalErrors += mktErrors;\n    mktResults[mkt] = { converted: mktConverted, errors: mktErrors, batch_errors: batchErrors.length > 0 ? batchErrors.slice(0, 5) : undefined };\n  }\n\n  // ========== UPDATE SYNC STATUS ==========\n  try {\n    await sbFetch('/vendor_products?vendor_id=eq.' + vendor_id + '&sprinter_product=not.is.null', {\n      method: 'PATCH',\n      headers: { 'Prefer': 'return=minimal' },\n      body: { sync_status: 'converted' }\n    });\n  } catch (e) {}\n\n  // Update vendor with conversion info\n  try {\n    const convertedCount = await sbFetch('/vendor_products?vendor_id=eq.' + vendor_id + '&sync_status=eq.converted&select=id', {\n      headers: { 'Prefer': 'count=exact' }\n    });\n    await sbFetch('/vendors?id=eq.' + vendor_id, {\n      method: 'PATCH',\n      body: {\n        sync_status: totalConverted === 0 && totalErrors === 0 ? (vendor.sync_status || 'synced') : totalErrors > 0 ? 'converted_with_errors' : 'converted',\n        config: { ...(vendor.config || {}), marketplaces: mktList, last_convert_at: new Date().toISOString() }\n      }\n    });\n  } catch (e) {}\n\n  return [{ json: {\n    success: true,\n    converted: totalConverted,\n    errors: totalErrors,\n    total: rawProducts.length,\n    marketplaces: mktResults,\n    vendor_id: vendor_id,\n    vendor_name: vendor.name\n  } }];\n\n} catch (e) {\n  return [{ json: { success: false, error: 'Auto-convert error: ' + e.message } }];\n}\n"
      },
      "id": "ac-code",
      "name": "Auto Convert Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      },
      "id": "ac-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Auto Convert Pipeline", "type": "main", "index": 0 }]]
    },
    "Auto Convert Pipeline": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
