backend/workflows/mirakl-upload-offers.json
{
  "name": "Katalync - Mirakl Upload Offers",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mirakl-upload-offers",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-mirakl-upload-offers",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "mirakl-upload-offers"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst { token, offers, marketplace_url, api_key } = input.body || input;\n\n// Validate required fields\nif (!token) {\n  return [{ json: { error: true, code: 'MISSING_TOKEN', message: 'Token is required' } }];\n}\nif (!offers || !Array.isArray(offers) || offers.length === 0) {\n  return [{ json: { error: true, code: 'INVALID_OFFERS', message: 'Offers array is required and must not be empty' } }];\n}\nif (offers.length > 10000) {\n  return [{ json: { error: true, code: 'TOO_MANY_OFFERS', message: 'Maximum 10000 offers per upload' } }];\n}\n\n// Decode JWT to extract vendor_id\ntry {\n  const parts = token.split('.');\n  if (parts.length !== 3) throw new Error('Invalid token format');\n  const payload = JSON.parse(Buffer.from(parts[1], 'base64url').toString());\n  \n  if (payload.exp && payload.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { error: true, code: 'TOKEN_EXPIRED', message: 'Token has expired' } }];\n  }\n  \n  const vendor_id = payload.sub || payload.vendor_id || payload.user_id;\n  if (!vendor_id) {\n    return [{ json: { error: true, code: 'INVALID_TOKEN', message: 'Token missing subject' } }];\n  }\n  \n  return [{ json: {\n    error: false,\n    vendor_id,\n    offers,\n    marketplace_url: marketplace_url || null,\n    api_key: api_key || null\n  } }];\n} catch (e) {\n  return [{ json: { error: true, code: 'AUTH_FAILED', message: 'Token verification failed: ' + e.message } }];\n}"
      },
      "id": "verify-token",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-auth-error",
      "name": "Auth Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [550, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.code, message: $json.message }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-auth-error",
      "name": "Respond Auth Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 150]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-mirakl-url",
              "leftValue": "={{ $json.marketplace_url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            },
            {
              "id": "check-api-key",
              "leftValue": "={{ $json.api_key }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-mirakl-configured",
      "name": "Mirakl Configured?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [850, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'mirakl_not_configured', message: 'Mirakl marketplace URL and API key are required. Configure them in Settings.' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-not-configured",
      "name": "Respond Not Configured",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1150, 600]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst offers = input.offers;\n\n// Validate offer fields\nconst errors = [];\noffers.forEach((o, i) => {\n  if (!o.shop_sku) errors.push(`Offer ${i}: missing shop_sku`);\n  if (o.price === undefined || o.price === null) errors.push(`Offer ${i}: missing price`);\n  if (o.price !== undefined && (isNaN(Number(o.price)) || Number(o.price) < 0)) {\n    errors.push(`Offer ${i}: invalid price '${o.price}'`);\n  }\n  if (o.quantity !== undefined && (isNaN(Number(o.quantity)) || Number(o.quantity) < 0)) {\n    errors.push(`Offer ${i}: invalid quantity '${o.quantity}'`);\n  }\n});\n\nif (errors.length > 0) {\n  return [{ json: { error: true, code: 'VALIDATION_ERROR', message: errors.slice(0, 20).join('; ') + (errors.length > 20 ? ` ...and ${errors.length - 20} more` : ''), vendor_id: input.vendor_id, marketplace_url: input.marketplace_url, api_key: input.api_key } }];\n}\n\n// Build CSV for Mirakl Offers Import (OF01)\n// Required columns: sku;product-id;product-id-type;price;quantity;state;logistic-class;...\nconst csvSeparator = ';';\n\n// Map internal fields to Mirakl offer fields\nconst fieldMap = {\n  'shop_sku': 'sku',\n  'ean': 'product-id',\n  'ean_type': 'product-id-type',\n  'price': 'price',\n  'original_price': 'price-original',\n  'discount_price': 'discount-price',\n  'quantity': 'quantity',\n  'state': 'state-code',\n  'logistic_class': 'logistic-class',\n  'min_shipping_price': 'min-shipping-price',\n  'min_shipping_price_additional': 'min-shipping-price-additional',\n  'leadtime_to_ship': 'leadtime-to-ship',\n  'description': 'description',\n  'internal_description': 'internal-description',\n  'available_start_date': 'available-start-date',\n  'available_end_date': 'available-end-date',\n  'discount_start_date': 'discount-start-date',\n  'discount_end_date': 'discount-end-date',\n  'min_quantity_alert': 'min-quantity-alert',\n  'favorite_rank': 'favorite-rank',\n  'allow_quote_requests': 'allow-quote-requests',\n  'price_additional_info': 'price-additional-info',\n  'min_order_quantity': 'min-order-quantity',\n  'max_order_quantity': 'max-order-quantity',\n  'package_quantity': 'package-quantity'\n};\n\n// Determine which columns we actually need based on data\nconst usedInternal = new Set();\noffers.forEach(o => {\n  Object.keys(o).forEach(k => {\n    if (fieldMap[k]) usedInternal.add(k);\n  });\n});\n// Always include core fields\n['shop_sku', 'price', 'quantity', 'state'].forEach(k => usedInternal.add(k));\n\nconst orderedInternal = [...usedInternal];\nconst headers = orderedInternal.map(k => fieldMap[k]);\n\nconst escapeCSV = (val) => {\n  let s = String(val === undefined || val === null ? '' : val);\n  s = s.replace(/\"/g, '\"\"');\n  if (s.includes(csvSeparator) || s.includes('\"') || s.includes('\\n')) {\n    s = '\"' + s + '\"';\n  }\n  return s;\n};\n\nconst headerLine = headers.join(csvSeparator);\nconst dataLines = offers.map(o => {\n  return orderedInternal.map(k => {\n    let val = o[k];\n    // Default state to '11' (new) if not provided\n    if (k === 'state' && (val === undefined || val === null || val === '')) val = '11';\n    // Default quantity to 0 if not provided\n    if (k === 'quantity' && (val === undefined || val === null)) val = 0;\n    return escapeCSV(val);\n  }).join(csvSeparator);\n});\n\nconst csvContent = headerLine + '\\n' + dataLines.join('\\n');\n\nreturn [{ json: {\n  error: false,\n  csv_content: csvContent,\n  offer_count: offers.length,\n  vendor_id: input.vendor_id,\n  marketplace_url: input.marketplace_url,\n  api_key: input.api_key\n} }];"
      },
      "id": "build-offer-csv",
      "name": "Build Offer CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 350]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-csv-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-csv-error",
      "name": "CSV Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1400, 350]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.code, message: $json.message }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "respond-validation-error",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.marketplace_url }}/api/offers/imports",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.api_key }}" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formData",
              "inputDataFieldName": "={{ { fileName: 'offers_import.csv', mimeType: 'text/csv', data: Buffer.from($json.csv_content).toString('base64'), fileExtension: 'csv' } }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "fullResponse": true
        }
      },
      "id": "mirakl-api-upload",
      "name": "Upload to Mirakl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst prevData = $('Build Offer CSV').first().json;\n\nconst statusCode = input.statusCode || input.status;\nconst mirakl_success = statusCode >= 200 && statusCode < 300;\nconst import_id = mirakl_success ? (input.body?.import_id || input.data?.import_id || input.import_id || null) : null;\n\nreturn [{ json: {\n  mirakl_success,\n  import_id,\n  status_code: statusCode,\n  error_message: !mirakl_success ? (input.body?.message || input.message || 'Mirakl API error') : null,\n  vendor_id: prevData.vendor_id,\n  offer_count: prevData.offer_count,\n  marketplace_url: prevData.marketplace_url\n} }];"
      },
      "id": "parse-mirakl-response",
      "name": "Parse Mirakl Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/sync_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vendor_id: $json.vendor_id, direction: 'push', sync_type: 'offers', status: $json.mirakl_success ? 'running' : 'failed', total_products: $json.offer_count, created_products: 0, updated_products: 0, error_count: $json.mirakl_success ? 0 : 1, details: { import_id: $json.import_id, marketplace_url: $json.marketplace_url, error: $json.error_message }, started_at: new Date().toISOString() }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "insert-sync-log",
      "name": "Insert Sync Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 450]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const mirakl = $('Parse Mirakl Response').first().json;\nconst syncLogResponse = $input.first().json;\n\nconst sync_log_id = Array.isArray(syncLogResponse) ? syncLogResponse[0]?.id : (syncLogResponse.id || syncLogResponse[0]?.id || null);\n\nif (mirakl.mirakl_success) {\n  return [{ json: {\n    success: true,\n    import_id: mirakl.import_id,\n    sync_log_id,\n    offer_count: mirakl.offer_count,\n    message: `${mirakl.offer_count} offers submitted to Mirakl for import`\n  } }];\n} else {\n  return [{ json: {\n    success: false,\n    error: 'mirakl_upload_failed',\n    message: mirakl.error_message || 'Failed to upload offers to Mirakl',\n    status_code: mirakl.status_code,\n    sync_log_id\n  } }];\n}"
      },
      "id": "build-final-response",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 502 }}"
        }
      },
      "id": "respond-final",
      "name": "Respond Final",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2700, 450]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Verify Token", "type": "main", "index": 0 }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          { "node": "Auth Error?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Auth Error?": {
      "main": [
        [
          { "node": "Respond Auth Error", "type": "main", "index": 0 }
        ],
        [
          { "node": "Mirakl Configured?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mirakl Configured?": {
      "main": [
        [
          { "node": "Build Offer CSV", "type": "main", "index": 0 }
        ],
        [
          { "node": "Respond Not Configured", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Offer CSV": {
      "main": [
        [
          { "node": "CSV Error?", "type": "main", "index": 0 }
        ]
      ]
    },
    "CSV Error?": {
      "main": [
        [
          { "node": "Respond Validation Error", "type": "main", "index": 0 }
        ],
        [
          { "node": "Upload to Mirakl", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload to Mirakl": {
      "main": [
        [
          { "node": "Parse Mirakl Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Mirakl Response": {
      "main": [
        [
          { "node": "Insert Sync Log", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Sync Log": {
      "main": [
        [
          { "node": "Build Final Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          { "node": "Respond Final", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "katalync", "createdAt": "2026-05-13T00:00:00.000Z", "updatedAt": "2026-05-13T00:00:00.000Z" },
    { "name": "mirakl", "createdAt": "2026-05-13T00:00:00.000Z", "updatedAt": "2026-05-13T00:00:00.000Z" },
    { "name": "sync", "createdAt": "2026-05-13T00:00:00.000Z", "updatedAt": "2026-05-13T00:00:00.000Z" }
  ],
  "triggerCount": 1,
  "active": false
}