backend/workflows/prestashop-sync-pull.json
{
  "name": "Katalync - PrestaShop Sync Pull",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prestashop-sync-pull",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "presta-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "prestashop-sync-pull"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\n// ============================================================\n// Katalync - PrestaShop Sync Pull\n// Full pipeline: auth → fetch vendor → paginate PrestaShop API →\n// map products → upsert to Supabase → log results\n// ============================================================\n\nconst input = $input.first().json;\nconst body = input.body || input;\nconst { token, vendor_id } = body;\n\n// --- System token for scheduled sync ---\nconst SYSTEM_SYNC_SECRET = 'ks_sys_8f3a2b1c4d5e6f7a8b9c0d1e2f3a4b5c';\nlet isSystemSync = false;\n\n// --- Constants ---\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\n// --- Helper: Supabase request ---\nasync function sbFetch(path, options = {}) {\n  const url = `${SUPABASE_URL}${path}`;\n  const resp = await httpReq(url, {\n    headers: { ...sbHeaders, ...(options.headers || {}) },\n    method: options.method || 'GET',\n    body: options.body ? JSON.stringify(options.body) : undefined\n  });\n  const text = await resp.text();\n  if (!resp.ok) {\n    throw new Error(`Supabase ${options.method || 'GET'} ${path} failed (${resp.status}): ${text}`);\n  }\n  return text ? JSON.parse(text) : null;\n}\n\nfunction safeStr(val, fallback = '') {\n  if (val === null || val === undefined) return fallback;\n  return String(val).trim() || fallback;\n}\n\nfunction safeFloat(val, fallback = 0) {\n  const n = parseFloat(val);\n  return isNaN(n) ? fallback : n;\n}\n\nfunction safeInt(val, fallback = 0) {\n  const n = parseInt(val, 10);\n  return isNaN(n) ? fallback : n;\n}\n\n// PrestaShop name can be a string or array of {id, value} for multilingual\nfunction extractName(nameField) {\n  if (!nameField) return '';\n  if (typeof nameField === 'string') return nameField.trim();\n  if (Array.isArray(nameField)) {\n    // Prefer first language entry\n    return safeStr(nameField[0]?.value || nameField[0]);\n  }\n  if (typeof nameField === 'object' && nameField.value) {\n    return safeStr(nameField.value);\n  }\n  return String(nameField).trim();\n}\n\n// PrestaShop returns XML-like structures for some fields\nfunction extractTextField(field) {\n  if (!field) return '';\n  if (typeof field === 'string') return field.trim();\n  if (Array.isArray(field)) {\n    const first = field[0];\n    if (typeof first === 'object' && first?.value !== undefined) return safeStr(first.value);\n    return safeStr(first);\n  }\n  if (typeof field === 'object' && field.value !== undefined) return safeStr(field.value);\n  return '';\n}\n\ntry {\n  // ========== STEP 1: Verify token ==========\n  if (!token || typeof token !== 'string') {\n    return [{ json: { success: false, error: 'Missing or invalid token' } }];\n  }\n  if (!vendor_id) {\n    return [{ json: { success: false, error: 'Missing vendor_id' } }];\n  }\n\n  let user_id = null;\n\n  if (token === SYSTEM_SYNC_SECRET) {\n    isSystemSync = true;\n  } else {\n    // Auth verification — call auth-verify endpoint\n    const authResp = await httpReq('https://api.katalync.com/webhook/auth-verify', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ token })\n    });\n    const authData = await authResp.json();\n    if (!authData.success) {\n      return [{ json: { success: false, error: authData.error || 'Token invalid or expired' } }];\n    }\n    const userEmail = authData.email;\n\n    // Upsert user into Supabase (auto-provision from n8n session data)\n    const upsertData = await sbFetch('/users?on_conflict=email', {\n      method: 'POST',\n      headers: { 'Prefer': 'resolution=merge-duplicates,return=representation' },\n      body: [{\n        email: authData.email,\n        name: authData.name || authData.email,\n        password_hash: 'oauth-managed',\n        role: authData.role || 'user',\n        company: authData.company || null,\n        lang: authData.lang || 'es',\n        onboarded: authData.onboarded || false,\n        subscription_status: authData.subscription_status || 'active',\n        last_login_at: new Date().toISOString()\n      }]\n    });\n    user_id = upsertData && upsertData.length > 0 ? upsertData[0].id : null;\n    if (!user_id) {\n      return [{ json: { success: false, error: 'Failed to provision user' } }];\n    }\n  }\n\n  // ========== STEP 2: Fetch vendor ==========\n  const vendorQuery = isSystemSync\n    ? `/vendors?id=eq.${vendor_id}&select=*`\n    : `/vendors?id=eq.${vendor_id}&user_id=eq.${user_id}&select=*`;\n  const vendors = await sbFetch(vendorQuery);\n  if (!vendors || vendors.length === 0) {\n    return [{ json: { success: false, error: 'Vendor not found or access denied' } }];\n  }\n  const vendor = vendors[0];\n\n  // ========== STEP 3: Validate source ==========\n  if (vendor.source !== 'prestashop') {\n    return [{ json: { success: false, error: `Vendor source is '${vendor.source}', expected 'prestashop'` } }];\n  }\n  if (!vendor.source_url || !vendor.source_api_key) {\n    return [{ json: { success: false, error: 'Vendor missing source_url or source_api_key' } }];\n  }\n\n  const prestaUrl = vendor.source_url.replace(/\\/+$/, '');\n  // PrestaShop uses API key as username with empty password for Basic auth\n  const authHeader = 'Basic ' + Buffer.from(`${vendor.source_api_key}:`).toString('base64');\n\n  // ========== STEP 4: Create sync_log ==========\n  const startedAt = new Date().toISOString();\n  const syncLogs = await sbFetch('/sync_logs', {\n    method: 'POST',\n    body: {\n      vendor_id: vendor.id,\n      direction: 'pull',\n      total_products: 0,\n      created_count: 0,\n      updated_count: 0,\n      error_count: 0,\n      status: 'running',\n      started_at: startedAt\n    }\n  });\n  const syncLog = syncLogs[0];\n  const sync_log_id = syncLog.id;\n\n  // ========== STEP 5-7: Fetch ALL PrestaShop products (with pagination) ==========\n  let allProducts = [];\n  const LIMIT = 50;\n  let offset = 0;\n  let pageCount = 0;\n  const MAX_PAGES = 400; // Safety limit: 400 * 50 = 20,000 products\n  let hasMore = true;\n\n  while (hasMore && pageCount < MAX_PAGES) {\n    pageCount++;\n    let resp;\n    try {\n      const apiUrl = `${prestaUrl}/api/products?display=full&limit=${LIMIT}&offset=${offset}&output_format=JSON&filter[active]=[1]`;\n      resp = await httpReq(apiUrl, {\n        method: 'GET',\n        headers: {\n          'Authorization': authHeader,\n          'Content-Type': 'application/json'\n        }\n      });\n    } catch (fetchErr) {\n      throw new Error(`PrestaShop API connection failed (page ${pageCount}): ${fetchErr.message}`);\n    }\n\n    if (!resp.ok) {\n      const errText = await resp.text();\n      // 404 at offset often means no more products\n      if (resp.status === 404 && offset > 0) {\n        hasMore = false;\n        break;\n      }\n      throw new Error(`PrestaShop API error ${resp.status} (page ${pageCount}): ${errText.substring(0, 500)}`);\n    }\n\n    let data;\n    try {\n      data = await resp.json();\n    } catch (jsonErr) {\n      // PrestaShop sometimes returns XML despite output_format=JSON\n      throw new Error(`PrestaShop returned non-JSON response at offset ${offset}. Ensure the Webservice is configured for JSON output.`);\n    }\n\n    // PrestaShop wraps products in { products: [...] }\n    const products = data.products || data.product || [];\n    const productList = Array.isArray(products) ? products : [products];\n\n    if (productList.length === 0) {\n      hasMore = false;\n    } else {\n      allProducts = allProducts.concat(productList);\n      offset += LIMIT;\n\n      // If we got fewer than LIMIT, there are no more\n      if (productList.length < LIMIT) {\n        hasMore = false;\n      }\n    }\n\n    // Rate limiting\n    if (hasMore) {\n      await new Promise(resolve => setTimeout(resolve, 300));\n    }\n  }\n\n  // ========== Fetch stock quantities ==========\n  // PrestaShop separates stock from products in newer versions\n  // Try to get stock_availables for accurate counts\n  const stockMap = {}; // product_id → quantity\n  try {\n    let stockOffset = 0;\n    let stockHasMore = true;\n    let stockPages = 0;\n\n    while (stockHasMore && stockPages < MAX_PAGES) {\n      stockPages++;\n      const stockResp = await httpReq(\n        `${prestaUrl}/api/stock_availables?display=[id_product,quantity]&limit=${LIMIT}&offset=${stockOffset}&output_format=JSON`,\n        {\n          method: 'GET',\n          headers: { 'Authorization': authHeader }\n        }\n      );\n\n      if (stockResp.ok) {\n        const stockData = await stockResp.json();\n        const stocks = stockData.stock_availables || stockData.stock_available || [];\n        const stockList = Array.isArray(stocks) ? stocks : [stocks];\n\n        if (stockList.length === 0) {\n          stockHasMore = false;\n        } else {\n          for (const s of stockList) {\n            const pid = safeStr(s.id_product);\n            if (pid) {\n              // Sum quantities if multiple stock entries for same product (combos)\n              stockMap[pid] = (stockMap[pid] || 0) + safeInt(s.quantity, 0);\n            }\n          }\n          stockOffset += LIMIT;\n          if (stockList.length < LIMIT) stockHasMore = false;\n        }\n      } else {\n        // Stock API might not be enabled — fall back to product.quantity\n        stockHasMore = false;\n      }\n      await new Promise(resolve => setTimeout(resolve, 200));\n    }\n  } catch (stockErr) {\n    console.log('Warning: Could not fetch stock_availables, using product.quantity:', stockErr.message);\n  }\n\n  // ========== Map products to Katalync format ==========\n  const mappedProducts = [];\n  const syncErrors = [];\n\n  for (const product of allProducts) {\n    try {\n      const productId = safeStr(product.id);\n      let sku = safeStr(product.reference);\n      if (!sku) sku = `ps-${productId}`;\n\n      // Name: can be multilingual\n      const name = extractName(product.name) || `Product ${productId}`;\n\n      // EAN\n      const ean = safeStr(product.ean13 || product.upc || product.isbn);\n\n      // Brand / Manufacturer\n      const brand = safeStr(product.manufacturer_name || extractTextField(product.manufacturer_name));\n\n      // Category\n      let category = '';\n      if (product.category_default_name) {\n        category = extractTextField(product.category_default_name);\n      } else if (product.id_category_default) {\n        category = `category-${product.id_category_default}`;\n      }\n\n      // Price: PrestaShop can return price with or without tax\n      // price_tax_excl or just price\n      let price = safeFloat(product.price);\n      if (product.price_tax_incl) {\n        price = safeFloat(product.price_tax_incl);\n      }\n\n      // Stock: prefer stock_availables data, fallback to product.quantity\n      let stock = 0;\n      if (stockMap[productId] !== undefined) {\n        stock = stockMap[productId];\n      } else {\n        stock = safeInt(product.quantity, 0);\n      }\n\n      // Image URL: PrestaShop image API\n      let imageUrl = '';\n      if (product.id_default_image) {\n        imageUrl = `${prestaUrl}/api/images/products/${productId}/${product.id_default_image}`;\n      } else if (product.associations?.images && product.associations.images.length > 0) {\n        const firstImageId = product.associations.images[0].id;\n        imageUrl = `${prestaUrl}/api/images/products/${productId}/${firstImageId}`;\n      } else {\n        // Fallback: try first image\n        imageUrl = `${prestaUrl}/api/images/products/${productId}/1`;\n      }\n\n      // Check for product combinations (variants)\n      const combinations = product.associations?.combinations || [];\n      \n      if (combinations.length > 0) {\n        // Fetch combinations for this product\n        let fetchedCombinations = false;\n        try {\n          const combResp = await httpReq(\n            `${prestaUrl}/api/combinations?filter[id_product]=${productId}&display=full&output_format=JSON`,\n            {\n              method: 'GET',\n              headers: { 'Authorization': authHeader }\n            }\n          );\n          \n          if (combResp.ok) {\n            const combData = await combResp.json();\n            const combs = combData.combinations || combData.combination || [];\n            const combList = Array.isArray(combs) ? combs : [combs];\n\n            for (const comb of combList) {\n              try {\n                let combSku = safeStr(comb.reference || comb.supplier_reference);\n                if (!combSku) combSku = `${sku}-c${comb.id}`;\n\n                // Build combination name from option values\n                let combName = name;\n                if (comb.associations?.product_option_values) {\n                  const optionValues = comb.associations.product_option_values\n                    .map(ov => safeStr(ov.name || ov.id))\n                    .filter(Boolean);\n                  if (optionValues.length > 0) {\n                    combName = `${name} - ${optionValues.join(' / ')}`;\n                  }\n                }\n\n                const combMapped = {\n                  vendor_id: vendor.id,\n                  sku: combSku,\n                  ean: safeStr(comb.ean13 || comb.upc || ean),\n                  name: combName.substring(0, 500),\n                  brand: brand,\n                  category: category,\n                  price: safeFloat(comb.price) > 0 ? price + safeFloat(comb.price) : price,\n                  stock: safeInt(comb.quantity, 0),\n                  image_url: imageUrl,\n                  raw_data: {\n                    prestashop_product_id: parseInt(productId),\n                    prestashop_combination_id: parseInt(comb.id),\n                    prestashop_type: 'combination',\n                    prestashop_reference: product.reference,\n                    prestashop_active: product.active,\n                    prestashop_condition: product.condition,\n                    combination_reference: comb.reference,\n                    combination_weight: comb.weight,\n                    combination_minimal_quantity: comb.minimal_quantity,\n                    combination_price_impact: comb.price,\n                    combination_default: comb.default_on\n                  },\n                  sync_status: 'synced',\n                  last_synced_at: new Date().toISOString()\n                };\n                mappedProducts.push(combMapped);\n              } catch (combErr) {\n                syncErrors.push({\n                  sync_log_id,\n                  sku: `${sku}-c${comb.id}`,\n                  field: 'combination_mapping',\n                  error_type: 'mapping_error',\n                  message: `Error mapping combination ${comb.id}: ${combErr.message}`\n                });\n              }\n            }\n            fetchedCombinations = true;\n          }\n        } catch (combFetchErr) {\n          console.log(`Warning: Failed to fetch combinations for product ${productId}:`, combFetchErr.message);\n        }\n\n        // If we successfully fetched combinations, skip the base product\n        if (fetchedCombinations) continue;\n      }\n\n      // Map simple product (or product whose combinations failed to fetch)\n      const mapped = {\n        vendor_id: vendor.id,\n        sku: sku,\n        ean: ean,\n        name: name.substring(0, 500),\n        brand: brand,\n        category: category,\n        price: price,\n        stock: stock,\n        image_url: imageUrl,\n        raw_data: {\n          prestashop_product_id: parseInt(productId),\n          prestashop_type: 'simple',\n          prestashop_reference: product.reference,\n          prestashop_active: product.active,\n          prestashop_condition: product.condition,\n          prestashop_visibility: product.visibility,\n          prestashop_weight: product.weight,\n          prestashop_width: product.width,\n          prestashop_height: product.height,\n          prestashop_depth: product.depth,\n          prestashop_tax_id: product.id_tax_rules_group,\n          prestashop_supplier: product.id_supplier,\n          prestashop_date_add: product.date_add,\n          prestashop_date_upd: product.date_upd,\n          meta_title: extractTextField(product.meta_title),\n          description_short: extractTextField(product.description_short)?.substring(0, 500)\n        },\n        sync_status: 'synced',\n        last_synced_at: new Date().toISOString()\n      };\n      mappedProducts.push(mapped);\n\n    } catch (productErr) {\n      syncErrors.push({\n        sync_log_id,\n        sku: safeStr(product.reference || product.id),\n        field: 'product_mapping',\n        error_type: 'mapping_error',\n        message: `Error mapping product ${product.id}: ${productErr.message}`\n      });\n    }\n\n    // Small delay between products with combinations\n    await new Promise(resolve => setTimeout(resolve, 50));\n  }\n\n  // ========== STEP 8: Delta sync + Upsert products ==========\n  let createdCount = 0;\n  let updatedCount = 0;\n  let unchangedCount = 0;\n  let errorCount = syncErrors.length;\n  const BATCH_SIZE = 50;\n\n  // Fetch existing products with comparison fields\n  const existingProducts = await sbFetch(\n    `/vendor_products?vendor_id=eq.${vendor.id}&select=sku,name,brand,category,price,stock,image_url,ean&limit=100000`\n  );\n  const existingMap = {};\n  (existingProducts || []).forEach(p => { existingMap[p.sku] = p; });\n  const existingSkus = new Set(Object.keys(existingMap));\n\n  // Compare each product and set sync_status\n  for (const mapped of mappedProducts) {\n    const existing = existingMap[mapped.sku];\n    if (!existing) {\n      mapped.sync_status = 'new';\n    } else {\n      const changed = (\n        mapped.name !== (existing.name || '') ||\n        mapped.brand !== (existing.brand || '') ||\n        mapped.category !== (existing.category || '') ||\n        Math.round(mapped.price * 100) !== Math.round((existing.price || 0) * 100) ||\n        mapped.stock !== (existing.stock || 0) ||\n        mapped.image_url !== (existing.image_url || '') ||\n        mapped.ean !== (existing.ean || '')\n      );\n      if (changed) {\n        mapped.sync_status = 'changed';\n        mapped.sprinter_product = null;\n        mapped.sprinter_offer = null;\n      } else {\n        mapped.sync_status = 'unchanged';\n        unchangedCount++;\n      }\n    }\n  }\n\n  // Only upsert new or changed products\n  const productsToUpsert = mappedProducts.filter(p => p.sync_status !== 'unchanged');\n\n  // Upsert in batches\n  for (let i = 0; i < productsToUpsert.length; i += BATCH_SIZE) {\n    const batch = productsToUpsert.slice(i, i + BATCH_SIZE);\n\n    try {\n      await sbFetch('/vendor_products', {\n        method: 'POST',\n        headers: {\n          'Prefer': 'resolution=merge-duplicates,return=representation'\n        },\n        body: batch\n      });\n\n      for (const item of batch) {\n        if (existingSkus.has(item.sku)) {\n          updatedCount++;\n        } else {\n          createdCount++;\n        }\n      }\n    } catch (upsertErr) {\n      // Fallback: individual inserts\n      for (const item of batch) {\n        try {\n          await sbFetch('/vendor_products', {\n            method: 'POST',\n            headers: {\n              'Prefer': 'resolution=merge-duplicates,return=representation'\n            },\n            body: [item]\n          });\n          if (existingSkus.has(item.sku)) {\n            updatedCount++;\n          } else {\n            createdCount++;\n          }\n        } catch (itemErr) {\n          errorCount++;\n          syncErrors.push({\n            sync_log_id,\n            sku: item.sku,\n            field: 'upsert',\n            error_type: 'database_error',\n            message: `Upsert failed: ${itemErr.message}`.substring(0, 500)\n          });\n        }\n      }\n    }\n  }\n\n  // ========== STEP 9: Update sync_log ==========\n  const completedAt = new Date().toISOString();\n  await sbFetch(`/sync_logs?id=eq.${sync_log_id}`, {\n    method: 'PATCH',\n    body: {\n      status: errorCount > 0 ? 'completed_with_errors' : 'completed',\n      total_products: mappedProducts.length,\n      created_count: createdCount,\n      updated_count: updatedCount,\n      error_count: errorCount,\n      error_details: syncErrors.length > 0 ? syncErrors.slice(0, 100) : null,\n      completed_at: completedAt\n    }\n  });\n\n  // ========== STEP 10: Update vendor ==========\n  const syncInterval = vendor.sync_interval_hours || 24;\n  const nextSyncAt = new Date(Date.now() + syncInterval * 60 * 60 * 1000).toISOString();\n\n  await sbFetch(`/vendors?id=eq.${vendor.id}`, {\n    method: 'PATCH',\n    body: {\n      product_count: createdCount + updatedCount,\n      sync_status: errorCount > 0 ? 'completed_with_errors' : 'synced',\n      last_sync_at: completedAt,\n      next_sync_at: nextSyncAt,\n      last_sync_products_synced: createdCount + updatedCount,\n      last_sync_errors: errorCount\n    }\n  });\n\n  // ========== STEP 11: Insert sync_errors ==========\n  if (syncErrors.length > 0) {\n    for (let i = 0; i < syncErrors.length; i += BATCH_SIZE) {\n      const errorBatch = syncErrors.slice(i, i + BATCH_SIZE);\n      try {\n        await sbFetch('/sync_errors', {\n          method: 'POST',\n          body: errorBatch\n        });\n      } catch (e) {\n        console.log('Warning: Failed to log sync errors batch:', e.message);\n      }\n    }\n  }\n\n  \n  // Trigger auto-convert after sync (fire-and-forget)\n  if (productsToUpsert.length > 0) {\n    httpReq('https://api.katalync.com/webhook/auto-convert', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        token: isSystemSync ? SYSTEM_SYNC_SECRET : token,\n        vendor_id: vendor.id,\n        marketplaces: (vendor.config && vendor.config.marketplaces) || ['sprinter_es']\n      }),\n      timeout: 5000\n    }).catch(() => {});\n  }\n\n  // ========== STEP 12: Return result ==========\n  return [{\n    json: {\n      success: true,\n      vendor_id: vendor.id,\n      vendor_name: vendor.name,\n      source: 'prestashop',\n      total: mappedProducts.length,\n      created: createdCount,\n      updated: updatedCount,\n      errors: errorCount,\n      pages_fetched: pageCount,\n      presta_products: allProducts.length,\n      stock_entries_loaded: Object.keys(stockMap).length,\n      sync_log_id: sync_log_id,\n      duration_ms: Date.now() - new Date(startedAt).getTime()\n    }\n  }];\n\n} catch (fatalError) {\n  // Fatal error handler\n  try {\n    if (typeof sync_log_id !== 'undefined') {\n      await sbFetch(`/sync_logs?id=eq.${sync_log_id}`, {\n        method: 'PATCH',\n        body: {\n          status: 'failed',\n          error_details: [{ error: fatalError.message }],\n          completed_at: new Date().toISOString()\n        }\n      });\n    }\n    if (typeof vendor !== 'undefined') {\n      await sbFetch(`/vendors?id=eq.${vendor.id}`, {\n        method: 'PATCH',\n        body: {\n          sync_status: 'error'\n        }\n      });\n    }\n  } catch (e) {\n    // Best effort\n  }\n\n  return [{\n    json: {\n      success: false,\n      error: fatalError.message,\n      vendor_id: body.vendor_id || null\n    }\n  }];\n}\n"
      },
      "id": "presta-main-code",
      "name": "PrestaShop Sync Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      },
      "id": "presta-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PrestaShop Sync Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrestaShop Sync Pipeline": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}