backend/workflows/shopify-oauth-callback.json
{
  "name": "Katalync - Shopify OAuth Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "shopify-oauth-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "oauth-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "shopify-oauth-callback"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\nconst input = $input.first().json;\nconst query = input.query || {};\nconst { code, shop, state } = query;\n\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json'\n};\n\nconst APP_URL = 'https://katalync.com/app';\n\ntry {\n  if (!code || !shop || !state) {\n    return [{ json: { error: true, html: '<h1>Error: Missing parameters</h1>' } }];\n  }\n\n  let stateData;\n  try {\n    stateData = JSON.parse(Buffer.from(state, 'base64').toString('utf-8'));\n  } catch (e) {\n    return [{ json: { error: true, html: '<h1>Error: Invalid state parameter</h1>' } }];\n  }\n\n  const { vendor_id } = stateData;\n  if (!vendor_id) {\n    return [{ json: { error: true, html: '<h1>Error: Missing vendor_id in state</h1>' } }];\n  }\n\n  // Fetch vendor credentials from Supabase (never from client-side state)\n  const vendorResp = await httpReq(`${SUPABASE_URL}/vendors?id=eq.${vendor_id}&select=source_api_key,source_api_secret`, {\n    headers: sbHeaders\n  });\n  if (!vendorResp.ok) {\n    return [{ json: { error: true, html: '<h1>Error: Could not fetch vendor credentials</h1>' } }];\n  }\n  const vendors = await vendorResp.json();\n  if (!vendors || vendors.length === 0) {\n    return [{ json: { error: true, html: '<h1>Error: Vendor not found</h1>' } }];\n  }\n  const client_id = vendors[0].source_api_key;\n  const client_secret = vendors[0].source_api_secret;\n  if (!client_id || !client_secret) {\n    return [{ json: { error: true, html: '<h1>Error: Vendor missing Shopify app credentials</h1>' } }];\n  }\n\n  // Exchange code for access token\n  const tokenResp = await httpReq(`https://${shop}/admin/oauth/access_token`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      client_id: client_id,\n      client_secret: client_secret,\n      code: code\n    })\n  });\n\n  if (!tokenResp.ok) {\n    const errText = await tokenResp.text();\n    return [{ json: { error: true, html: `<h1>Error getting token from Shopify</h1><p>${errText.substring(0, 200)}</p>` } }];\n  }\n\n  const tokenData = await tokenResp.json();\n  const accessToken = tokenData.access_token;\n\n  if (!accessToken) {\n    return [{ json: { error: true, html: '<h1>Error: No access token received from Shopify</h1>' } }];\n  }\n\n  // Save access token to vendor in Supabase\n  const updateResp = await httpReq(`${SUPABASE_URL}/vendors?id=eq.${vendor_id}`, {\n    method: 'PATCH',\n    headers: { ...sbHeaders, 'Prefer': 'return=representation' },\n    body: JSON.stringify({\n      source_api_key: accessToken,\n      source_url: `https://${shop}`,\n      sync_status: 'connected',\n      config: { oauth_scope: tokenData.scope || '', connected_at: new Date().toISOString() }\n    })\n  });\n\n  if (!updateResp.ok) {\n    const errText = await updateResp.text();\n    return [{ json: { error: true, html: `<h1>Error saving token</h1><p>${errText.substring(0, 200)}</p>` } }];\n  }\n\n  let shopName = shop;\n  try {\n    const shopResp = await httpReq(`https://${shop}/admin/api/2024-01/shop.json`, {\n      headers: { 'X-Shopify-Access-Token': accessToken }\n    });\n    if (shopResp.ok) {\n      const shopData = await shopResp.json();\n      shopName = shopData.shop?.name || shop;\n    }\n  } catch(e) {}\n\n  const html = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\"><title>Conexión exitosa</title>\n<style>body{font-family:system-ui,sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;background:#f0fdf4}\n.card{background:white;padding:3rem;border-radius:1rem;box-shadow:0 4px 24px rgba(0,0,0,.08);text-align:center;max-width:420px}\nh1{color:#059669;margin:0 0 1rem}p{color:#64748b;line-height:1.6;margin:0 0 1.5rem}\na{display:inline-block;background:#0d9488;color:white;padding:.75rem 2rem;border-radius:.5rem;text-decoration:none;font-weight:600}\na:hover{background:#0f766e}</style>\n</head><body><div class=\"card\">\n<h1>&#10003; Conectado</h1>\n<p>Tu tienda <strong>${shopName}</strong> se ha conectado correctamente a Katalync.</p>\n<p>Ya puedes sincronizar tus productos.</p>\n<a href=\"${APP_URL}#sync\">Volver a Katalync</a>\n</div></body></html>`;\n\n  return [{ json: { error: false, html } }];\n\n} catch (e) {\n  return [{ json: { error: true, html: `<h1>Error inesperado</h1><p>${e.message}</p>` } }];\n}\n"
      },
      "id": "oauth-process",
      "name": "Process OAuth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": "={{ $json.error ? 400 : 200 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "oauth-respond",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process OAuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process OAuth": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}