backend/workflows/sync-logs.json
{
  "name": "Katalync - Sync Logs",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "sync-logs-webhook",
      "parameters": {
        "path": "sync-logs",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "verify-token",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\nconst token = data.token;\nif (!token) return [{ json: { success: false, error: 'Token required' } }];\ntry {\n  const parts = token.split('.');\n  const payload = JSON.parse(Buffer.from(parts[1], 'base64').toString());\n  if (payload.exp && payload.exp * 1000 < Date.now()) return [{ json: { success: false, error: 'Token expired' } }];\n  const userId = payload.sub || payload.user_id || payload.id;\n  if (!userId) return [{ json: { success: false, error: 'Invalid token' } }];\n  return [{ json: { ...data, user_id: userId, _auth: true } }];\n} catch(e) { return [{ json: { success: false, error: 'Invalid token' } }]; }"
      }
    },
    {
      "id": "check-auth",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json._auth }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "get-user-vendors",
      "name": "Get User Vendors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?user_id=eq.{{ $json.user_id }}&select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false } } }
      }
    },
    {
      "id": "fetch-logs",
      "name": "Fetch Sync Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 200],
      "parameters": {
        "jsCode": "const vendorIds = $input.first().json;\nconst ids = Array.isArray(vendorIds) ? vendorIds.map(v => v.id) : [];\nif (ids.length === 0) return [{ json: { success: true, logs: [] } }];\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\ntry {\n  const idsParam = ids.map(i => encodeURIComponent(i)).join(',');\n  const resp = await fetch(`${SUPABASE_URL}/sync_logs?vendor_id=in.(${idsParam})&order=started_at.desc&limit=20`, {\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n  });\n  const logs = await resp.json();\n  // Get vendor names for display\n  const vendorResp = await fetch(`${SUPABASE_URL}/vendors?id=in.(${idsParam})&select=id,name`, {\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY }\n  });\n  const vendors = await vendorResp.json();\n  const vendorMap = {};\n  for (const v of vendors) vendorMap[v.id] = v.name;\n  const enriched = (Array.isArray(logs) ? logs : []).map(l => ({ ...l, vendor_name: vendorMap[l.vendor_id] || 'Unknown' }));\n  return [{ json: { success: true, logs: enriched } }];\n} catch(e) {\n  return [{ json: { success: true, logs: [], error: e.message } }];\n}"
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [860, 450],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Authentication failed\" }",
        "options": { "responseCode": 401 }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Verify Token", "type": "main", "index": 0 }]] },
    "Verify Token": { "main": [[{ "node": "Auth OK?", "type": "main", "index": 0 }]] },
    "Auth OK?": { "main": [[{ "node": "Get User Vendors", "type": "main", "index": 0 }], [{ "node": "Respond Error", "type": "main", "index": 0 }]] },
    "Get User Vendors": { "main": [[{ "node": "Fetch Sync Logs", "type": "main", "index": 0 }]] },
    "Fetch Sync Logs": { "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
