backend/workflows/vendor-update.json
{
  "name": "Katalync - Vendor Update",
  "nodes": [
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-update"
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000002",
      "name": "Verify Token & Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\n\nif (!body.token) {\n  return [{ json: { error: 'Token is required', statusCode: 401, valid: false } }];\n}\n\nif (!body.vendor_id) {\n  return [{ json: { error: 'vendor_id is required', statusCode: 400, valid: false } }];\n}\n\ntry {\n  const parts = body.token.split('.');\n  if (parts.length !== 3) {\n    return [{ json: { error: 'Invalid token format', statusCode: 401, valid: false } }];\n  }\n  \n  let payload = parts[1].replace(/-/g, '+').replace(/_/g, '/');\n  while (payload.length % 4) payload += '=';\n  const decoded = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n  \n  if (!decoded.user_id) {\n    return [{ json: { error: 'Invalid token: missing user_id', statusCode: 401, valid: false } }];\n  }\n  \n  if (decoded.exp && decoded.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { error: 'Token expired', statusCode: 401, valid: false } }];\n  }\n  \n  // Build update fields - only include provided fields\n  const allowedFields = ['name', 'company', 'source', 'source_url', 'source_api_key', 'source_api_secret', 'marketplace_id', 'marketplace_api_key', 'marketplace_url', 'sync_interval_hours', 'sync_status', 'config'];\n  const updateData = {};\n  let credentialsChanged = false;\n  const credentialFields = ['source', 'source_url', 'source_api_key', 'source_api_secret'];\n  \n  for (const field of allowedFields) {\n    if (body[field] !== undefined) {\n      updateData[field] = body[field];\n      if (credentialFields.includes(field)) {\n        credentialsChanged = true;\n      }\n    }\n  }\n  \n  if (Object.keys(updateData).length === 0) {\n    return [{ json: { error: 'No fields to update', statusCode: 400, valid: false } }];\n  }\n  \n  updateData.updated_at = new Date().toISOString();\n  \n  return [{ json: { valid: true, user_id: decoded.user_id, vendor_id: body.vendor_id, updateData, credentialsChanged } }];\n} catch (e) {\n  return [{ json: { error: 'Token decode failed: ' + e.message, statusCode: 401, valid: false } }];\n}"
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000003",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000004",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 400 }}"
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000005",
      "name": "Verify Ownership",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "parameters": {
        "method": "GET",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.{{ $json.vendor_id }}&user_id=eq.{{ $json.user_id }}&select=id,source,source_url,source_api_key,source_api_secret",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000006",
      "name": "Check Ownership",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 160],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst vendors = Array.isArray(result) ? result : [result];\n\nif (!vendors.length || !vendors[0].id) {\n  return [{ json: { owned: false, error: 'Vendor not found or access denied', statusCode: 404 } }];\n}\n\nconst prevData = $('Verify Token & Extract').first().json;\n\nreturn [{ json: { owned: true, existingVendor: vendors[0], updateData: prevData.updateData, vendor_id: prevData.vendor_id, user_id: prevData.user_id, credentialsChanged: prevData.credentialsChanged } }];"
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000007",
      "name": "Is Owned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-owned",
              "leftValue": "={{ $json.owned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000008",
      "name": "Ownership Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 320],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 404 }}"
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000009",
      "name": "Patch Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 60],
      "parameters": {
        "method": "PATCH",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.{{ $json.vendor_id }}&user_id=eq.{{ $json.user_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.updateData) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000010",
      "name": "Check Credentials Changed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 60],
      "parameters": {
        "jsCode": "const patchResult = $input.first().json;\nconst vendor = Array.isArray(patchResult) ? patchResult[0] : patchResult;\n\nconst prevData = $('Check Ownership').first().json;\nconst credentialsChanged = prevData.credentialsChanged;\n\nif (credentialsChanged && vendor.source_url && vendor.source_api_key) {\n  // Re-test connection with updated credentials\n  const source = vendor.source;\n  const sourceUrl = vendor.source_url;\n  const apiKey = vendor.source_api_key;\n  const apiSecret = vendor.source_api_secret;\n  \n  let connectionTest = 'skipped';\n  let testError = null;\n  \n  try {\n    let url, headers;\n    \n    if (source === 'shopify') {\n      const cleanUrl = sourceUrl.replace(/\\/+$/, '');\n      url = `${cleanUrl}/admin/api/2024-01/shop.json`;\n      headers = { 'X-Shopify-Access-Token': apiKey };\n    } else if (source === 'woocommerce') {\n      const cleanUrl = sourceUrl.replace(/\\/+$/, '');\n      url = `${cleanUrl}/wp-json/wc/v3/system_status`;\n      const basicAuth = Buffer.from(`${apiKey}:${apiSecret}`).toString('base64');\n      headers = { 'Authorization': `Basic ${basicAuth}` };\n    } else if (source === 'prestashop') {\n      const cleanUrl = sourceUrl.replace(/\\/+$/, '');\n      url = `${cleanUrl}/api/products?display=full&limit=1`;\n      const basicAuth = Buffer.from(`${apiKey}:`).toString('base64');\n      headers = { 'Authorization': `Basic ${basicAuth}` };\n    } else if (source === 'api') {\n      url = sourceUrl;\n      headers = { 'Authorization': `Bearer ${apiKey}` };\n    }\n    \n    if (url) {\n      const response = await fetch(url, {\n        method: 'GET',\n        headers,\n        signal: AbortSignal.timeout(10000)\n      });\n      \n      connectionTest = response.ok ? 'ok' : 'failed';\n      if (!response.ok) {\n        testError = `HTTP ${response.status}: ${response.statusText}`;\n      }\n    }\n  } catch (e) {\n    connectionTest = 'failed';\n    testError = e.message;\n  }\n  \n  return [{ json: { success: true, vendor, connection_retest: connectionTest, connection_error: testError || undefined } }];\n}\n\nreturn [{ json: { success: true, vendor } }];"
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000011",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 60],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token & Extract": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Verify Ownership",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Ownership": {
      "main": [
        [
          {
            "node": "Check Ownership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ownership": {
      "main": [
        [
          {
            "node": "Is Owned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Owned": {
      "main": [
        [
          {
            "node": "Patch Vendor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ownership Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Vendor": {
      "main": [
        [
          {
            "node": "Check Credentials Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Credentials Changed": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}