backend/workflows/vendor-test-connection.json
{
  "name": "Katalync - Vendor Test Connection",
  "nodes": [
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-test-connection",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-test-connection"
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000002",
      "name": "Verify Token & Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\n\nif (!body.token) {\n  return [{ json: { error: 'Token is required', statusCode: 401, valid: false } }];\n}\n\ntry {\n  const parts = body.token.split('.');\n  if (parts.length !== 3) {\n    return [{ json: { error: 'Invalid token format', statusCode: 401, valid: false } }];\n  }\n  \n  let payload = parts[1].replace(/-/g, '+').replace(/_/g, '/');\n  while (payload.length % 4) payload += '=';\n  const decoded = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n  \n  if (!decoded.user_id) {\n    return [{ json: { error: 'Invalid token: missing user_id', statusCode: 401, valid: false } }];\n  }\n  \n  if (decoded.exp && decoded.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { error: 'Token expired', statusCode: 401, valid: false } }];\n  }\n  \n  // Two modes: vendor_id (load from DB) or direct credentials\n  const hasVendorId = !!body.vendor_id;\n  const hasDirectCreds = body.source && body.source_url;\n  \n  if (!hasVendorId && !hasDirectCreds) {\n    return [{ json: { error: 'Either vendor_id or (source + source_url) is required', statusCode: 400, valid: false } }];\n  }\n  \n  return [{ json: {\n    valid: true,\n    user_id: decoded.user_id,\n    vendor_id: body.vendor_id || null,\n    source: body.source || null,\n    source_url: body.source_url || null,\n    source_api_key: body.source_api_key || null,\n    source_api_secret: body.source_api_secret || null,\n    mode: hasVendorId ? 'vendor_id' : 'direct'\n  } }];\n} catch (e) {\n  return [{ json: { error: 'Token decode failed: ' + e.message, statusCode: 401, valid: false } }];\n}"
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000003",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000004",
      "name": "Auth Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000005",
      "name": "Check Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-mode",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "vendor_id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000006",
      "name": "Load Vendor from DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 60],
      "parameters": {
        "method": "GET",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.{{ $json.vendor_id }}&user_id=eq.{{ $json.user_id }}&select=id,name,source,source_url,source_api_key,source_api_secret",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000007",
      "name": "Extract Vendor Creds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 60],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst vendors = Array.isArray(result) ? result : [result];\n\nif (!vendors.length || !vendors[0].id) {\n  return [{ json: { error: 'Vendor not found or access denied', statusCode: 404, testReady: false } }];\n}\n\nconst v = vendors[0];\nreturn [{ json: {\n  testReady: true,\n  vendor_id: v.id,\n  vendor_name: v.name,\n  source: v.source,\n  source_url: v.source_url,\n  source_api_key: v.source_api_key,\n  source_api_secret: v.source_api_secret\n} }];"
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000008",
      "name": "Direct Creds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 260],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{ json: {\n  testReady: true,\n  vendor_id: null,\n  vendor_name: null,\n  source: data.source,\n  source_url: data.source_url,\n  source_api_key: data.source_api_key,\n  source_api_secret: data.source_api_secret\n} }];"
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000009",
      "name": "Check Test Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ready",
              "leftValue": "={{ $json.testReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000010",
      "name": "Not Found Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1780, 320],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 404 }}"
        }
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000011",
      "name": "Run Connection Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 60],
      "parameters": {
        "jsCode": "const { source, source_url, source_api_key, source_api_secret, vendor_id, vendor_name } = $input.first().json;\n\nif (!source_url) {\n  return [{ json: { success: false, error: 'source_url is required for connection test' } }];\n}\n\nconst cleanUrl = source_url.replace(/\\/+$/, '');\nlet connectionResult = { connection: 'failed', product_count: null, shop_name: null, error: null };\n\ntry {\n  let url, headers, parseResponse;\n  \n  switch (source) {\n    case 'shopify': {\n      if (!source_api_key) {\n        return [{ json: { success: false, error: 'source_api_key (Shopify Access Token) is required' } }];\n      }\n      \n      // Get product count\n      url = `${cleanUrl}/admin/api/2024-01/products/count.json`;\n      headers = { 'X-Shopify-Access-Token': source_api_key };\n      \n      const countResp = await fetch(url, { method: 'GET', headers, signal: AbortSignal.timeout(15000) });\n      \n      if (!countResp.ok) {\n        connectionResult.error = `Shopify API error: HTTP ${countResp.status} ${countResp.statusText}`;\n        break;\n      }\n      \n      const countData = await countResp.json();\n      connectionResult.product_count = countData.count || 0;\n      \n      // Get shop name\n      try {\n        const shopResp = await fetch(`${cleanUrl}/admin/api/2024-01/shop.json`, { method: 'GET', headers, signal: AbortSignal.timeout(10000) });\n        if (shopResp.ok) {\n          const shopData = await shopResp.json();\n          connectionResult.shop_name = shopData.shop?.name || null;\n        }\n      } catch (e) {\n        // Non-critical, shop name is optional\n      }\n      \n      connectionResult.connection = 'ok';\n      break;\n    }\n    \n    case 'woocommerce': {\n      if (!source_api_key) {\n        return [{ json: { success: false, error: 'source_api_key (WooCommerce Consumer Key) is required' } }];\n      }\n      \n      const basicAuth = Buffer.from(`${source_api_key}:${source_api_secret || ''}`).toString('base64');\n      headers = { 'Authorization': `Basic ${basicAuth}` };\n      \n      // Get products with per_page=1 to validate and get total count from headers\n      url = `${cleanUrl}/wp-json/wc/v3/products?per_page=1`;\n      const wcResp = await fetch(url, { method: 'GET', headers, signal: AbortSignal.timeout(15000) });\n      \n      if (!wcResp.ok) {\n        connectionResult.error = `WooCommerce API error: HTTP ${wcResp.status} ${wcResp.statusText}`;\n        break;\n      }\n      \n      // WooCommerce returns total count in X-WP-Total header\n      const totalHeader = wcResp.headers.get('X-WP-Total');\n      connectionResult.product_count = totalHeader ? parseInt(totalHeader) : null;\n      \n      // Get shop name from system status\n      try {\n        const sysResp = await fetch(`${cleanUrl}/wp-json/wc/v3/system_status`, { method: 'GET', headers, signal: AbortSignal.timeout(10000) });\n        if (sysResp.ok) {\n          const sysData = await sysResp.json();\n          connectionResult.shop_name = sysData.environment?.site_url || sysData.settings?.store_name || cleanUrl;\n        }\n      } catch (e) {\n        // Non-critical\n      }\n      \n      connectionResult.connection = 'ok';\n      break;\n    }\n    \n    case 'prestashop': {\n      if (!source_api_key) {\n        return [{ json: { success: false, error: 'source_api_key (PrestaShop Webservice Key) is required' } }];\n      }\n      \n      const psAuth = Buffer.from(`${source_api_key}:`).toString('base64');\n      headers = { 'Authorization': `Basic ${psAuth}` };\n      \n      // Get products list with limit=1 to validate\n      url = `${cleanUrl}/api/products?output_format=JSON&display=[id]&limit=1`;\n      const psResp = await fetch(url, { method: 'GET', headers, signal: AbortSignal.timeout(15000) });\n      \n      if (!psResp.ok) {\n        connectionResult.error = `PrestaShop API error: HTTP ${psResp.status} ${psResp.statusText}`;\n        break;\n      }\n      \n      // Try to get total product count\n      try {\n        const countUrl = `${cleanUrl}/api/products?output_format=JSON&display=[id]`;\n        const countResp = await fetch(countUrl, { method: 'GET', headers, signal: AbortSignal.timeout(15000) });\n        if (countResp.ok) {\n          const countData = await countResp.json();\n          connectionResult.product_count = countData.products ? countData.products.length : null;\n        }\n      } catch (e) {\n        // Non-critical\n      }\n      \n      // Get shop name\n      try {\n        const shopUrl = `${cleanUrl}/api/shops?output_format=JSON&display=[name]&limit=1`;\n        const shopResp = await fetch(shopUrl, { method: 'GET', headers, signal: AbortSignal.timeout(10000) });\n        if (shopResp.ok) {\n          const shopData = await shopResp.json();\n          connectionResult.shop_name = shopData.shops?.[0]?.name || null;\n        }\n      } catch (e) {\n        // Non-critical\n      }\n      \n      connectionResult.connection = 'ok';\n      break;\n    }\n    \n    case 'api': {\n      headers = {};\n      if (source_api_key) {\n        headers['Authorization'] = `Bearer ${source_api_key}`;\n      }\n      \n      url = cleanUrl;\n      const apiResp = await fetch(url, { method: 'GET', headers, signal: AbortSignal.timeout(15000) });\n      \n      if (!apiResp.ok) {\n        connectionResult.error = `API error: HTTP ${apiResp.status} ${apiResp.statusText}`;\n        break;\n      }\n      \n      // Try to parse response for product count hints\n      try {\n        const apiData = await apiResp.json();\n        if (apiData.total !== undefined) connectionResult.product_count = apiData.total;\n        else if (apiData.count !== undefined) connectionResult.product_count = apiData.count;\n        else if (Array.isArray(apiData)) connectionResult.product_count = apiData.length;\n        if (apiData.name) connectionResult.shop_name = apiData.name;\n      } catch (e) {\n        // Response may not be JSON\n      }\n      \n      connectionResult.connection = 'ok';\n      break;\n    }\n    \n    case 'excel': {\n      // Excel sources don't have a connection to test\n      connectionResult.connection = 'ok';\n      connectionResult.shop_name = 'Excel/CSV source';\n      break;\n    }\n    \n    default: {\n      return [{ json: { success: false, error: `Unsupported source type: ${source}` } }];\n    }\n  }\n} catch (e) {\n  connectionResult.error = `Connection failed: ${e.message}`;\n  connectionResult.connection = 'failed';\n}\n\n// Build response\nconst response = {\n  success: connectionResult.connection === 'ok',\n  connection: connectionResult.connection,\n  source,\n  source_url: cleanUrl\n};\n\nif (vendor_id) response.vendor_id = vendor_id;\nif (vendor_name) response.vendor_name = vendor_name;\nif (connectionResult.product_count !== null) response.product_count = connectionResult.product_count;\nif (connectionResult.shop_name) response.shop_name = connectionResult.shop_name;\nif (connectionResult.error) response.error = connectionResult.error;\n\nreturn [{ json: response }];"
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000012",
      "name": "Update Vendor Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 60],
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\n// If we tested with a vendor_id, update the vendor's sync_status and product_count\nif (result.vendor_id && result.success) {\n  const updatePayload = {\n    sync_status: 'active',\n    last_sync_at: new Date().toISOString()\n  };\n  if (result.product_count !== undefined) {\n    updatePayload.product_count = result.product_count;\n  }\n  \n  try {\n    const patchUrl = `https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.${result.vendor_id}`;\n    await fetch(patchUrl, {\n      method: 'PATCH',\n      headers: {\n        'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE',\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q',\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(updatePayload),\n      signal: AbortSignal.timeout(10000)\n    });\n  } catch (e) {\n    // Non-critical: test result is still valid even if status update fails\n    result.status_update_error = e.message;\n  }\n} else if (result.vendor_id && !result.success) {\n  // Mark as pending/error if test failed\n  try {\n    const patchUrl = `https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.${result.vendor_id}`;\n    await fetch(patchUrl, {\n      method: 'PATCH',\n      headers: {\n        'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE',\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q',\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ sync_status: 'error' }),\n      signal: AbortSignal.timeout(10000)\n    });\n  } catch (e) {\n    // Non-critical\n  }\n}\n\nreturn [{ json: result }];"
      }
    },
    {
      "id": "e5f6a7b8-5555-4eee-ffff-000000000013",
      "name": "Test Result Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 60],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token & Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token & Parse Input": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Check Mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mode": {
      "main": [
        [
          {
            "node": "Load Vendor from DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Direct Creds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Vendor from DB": {
      "main": [
        [
          {
            "node": "Extract Vendor Creds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Vendor Creds": {
      "main": [
        [
          {
            "node": "Check Test Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Direct Creds": {
      "main": [
        [
          {
            "node": "Check Test Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Test Ready": {
      "main": [
        [
          {
            "node": "Run Connection Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Connection Test": {
      "main": [
        [
          {
            "node": "Update Vendor Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Vendor Status": {
      "main": [
        [
          {
            "node": "Test Result Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}