backend/workflows/vendor-create.json
{
  "name": "Katalync - Vendor Create",
  "nodes": [
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-create"
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000002",
      "name": "Create Vendor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Content-Type': 'application/json' };\n\nconst input = $input.first().json;\nconst body = input.body || {};\n\n// 1. Validate token\nif (!body.token) {\n  return [{ json: { success: false, error: 'Token is required' } }];\n}\n\ntry {\n  // 2. Auth verification\n  const authResp = await httpReq('https://api.katalync.com/webhook/auth-verify', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token: body.token })\n  });\n  const authData = await authResp.json();\n  if (!authData.success) {\n    return [{ json: { success: false, error: authData.error || 'Token invalid or expired' } }];\n  }\n\n  // 3. Validate required fields\n  if (!body.name || !body.name.trim()) {\n    return [{ json: { success: false, error: 'Vendor name is required' } }];\n  }\n\n  const validSources = ['shopify', 'woocommerce', 'prestashop', 'api', 'excel'];\n  if (!body.source || !validSources.includes(body.source)) {\n    return [{ json: { success: false, error: 'Source must be one of: ' + validSources.join(', ') } }];\n  }\n\n  // 4. Upsert user into Supabase\n  const upsertResp = await httpReq(SUPABASE_URL + '/users?on_conflict=email', {\n    method: 'POST',\n    headers: { ...sbHeaders, 'Prefer': 'resolution=merge-duplicates,return=representation' },\n    body: JSON.stringify([{\n      email: authData.email,\n      name: authData.name || authData.email,\n      password_hash: 'oauth-managed',\n      role: authData.role || 'user',\n      company: authData.company || null,\n      lang: authData.lang || 'es',\n      onboarded: authData.onboarded || false,\n      subscription_status: authData.subscription_status || 'active',\n      last_login_at: new Date().toISOString()\n    }])\n  });\n  const upsertData = await upsertResp.json();\n  const user_id = upsertData && upsertData.length > 0 ? upsertData[0].id : null;\n  if (!user_id) {\n    return [{ json: { success: false, error: 'Failed to provision user' } }];\n  }\n\n  // 5. Build vendor data\n  const vendorData = {\n    user_id: user_id,\n    name: body.name.trim(),\n    company: (body.company || '').trim() || null,\n    source: body.source,\n    source_url: (body.source_url || '').trim() || null,\n    source_api_key: (body.source_api_key || '').trim() || null,\n    source_api_secret: (body.source_api_secret || '').trim() || null,\n    marketplace_id: (body.marketplace_id || '').trim() || null,\n    marketplace_api_key: (body.marketplace_api_key || '').trim() || null,\n    marketplace_url: (body.marketplace_url || '').trim() || null,\n    sync_interval_hours: parseInt(body.sync_interval_hours) || 24,\n    sync_status: 'pending',\n    config: { ...(body.config || {}), marketplaces: body.marketplaces || ['sprinter_es'] }\n  };\n\n  // 6. Insert vendor into Supabase\n  const createResp = await httpReq(SUPABASE_URL + '/vendors', {\n    method: 'POST',\n    headers: { ...sbHeaders, 'Prefer': 'return=representation' },\n    body: JSON.stringify(vendorData)\n  });\n  if (!createResp.ok) {\n    const errText = await createResp.text();\n    return [{ json: { success: false, error: 'Failed to create vendor: ' + errText } }];\n  }\n  const created = await createResp.json();\n  const vendor = Array.isArray(created) ? created[0] : created;\n\n  if (!vendor || !vendor.id) {\n    return [{ json: { success: false, error: 'Vendor created but no data returned' } }];\n  }\n\n  // 7. Optional: test source connection for Shopify/WooCommerce\n  let connectionTest = 'skipped';\n  let connectionError = null;\n  const sourceUrl = (body.source_url || '').trim();\n  const apiKey = (body.source_api_key || '').trim();\n  const apiSecret = (body.source_api_secret || '').trim();\n\n  if (sourceUrl && apiKey && ['shopify', 'woocommerce'].includes(body.source)) {\n    try {\n      let testUrl, testHeaders;\n      const cleanUrl = sourceUrl.replace(/\\/+$/, '');\n\n      if (body.source === 'shopify') {\n        testUrl = cleanUrl + '/admin/api/2024-01/shop.json';\n        testHeaders = { 'X-Shopify-Access-Token': apiKey };\n      } else if (body.source === 'woocommerce') {\n        testUrl = cleanUrl + '/wp-json/wc/v3/system_status';\n        const basicAuth = Buffer.from(apiKey + ':' + apiSecret).toString('base64');\n        testHeaders = { 'Authorization': 'Basic ' + basicAuth };\n      }\n\n      if (testUrl) {\n        const testResp = await httpReq(testUrl, { method: 'GET', headers: testHeaders });\n        if (testResp.ok) {\n          connectionTest = 'ok';\n          // Update vendor sync_status to active\n          await httpReq(SUPABASE_URL + '/vendors?id=eq.' + vendor.id, {\n            method: 'PATCH',\n            headers: { ...sbHeaders, 'Prefer': 'return=representation' },\n            body: JSON.stringify({ sync_status: 'active' })\n          });\n          vendor.sync_status = 'active';\n        } else {\n          connectionTest = 'failed';\n          connectionError = 'HTTP ' + testResp.status;\n        }\n      }\n    } catch (e) {\n      connectionTest = 'failed';\n      connectionError = e.message;\n    }\n  }\n\n  // 8. Build response\n  const response = { success: true, vendor: vendor, connection_test: connectionTest };\n  if (connectionError) {\n    response.connection_error = connectionError;\n  }\n  return [{ json: response }];\n\n} catch (e) {\n  return [{ json: { success: false, error: 'Server error: ' + e.message } }];\n}"
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000009",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Create Vendor", "type": "main", "index": 0}]]
    },
    "Create Vendor": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
