backend/workflows/vendor-create.json
{
  "name": "Katalync - Vendor Create",
  "nodes": [
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-create",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-create"
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000002",
      "name": "Verify Token & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\n\n// Verify token\nif (!body.token) {\n  return [{ json: { error: 'Token is required', statusCode: 401, valid: false } }];\n}\n\ntry {\n  const parts = body.token.split('.');\n  if (parts.length !== 3) {\n    return [{ json: { error: 'Invalid token format', statusCode: 401, valid: false } }];\n  }\n  \n  let payload = parts[1].replace(/-/g, '+').replace(/_/g, '/');\n  while (payload.length % 4) payload += '=';\n  const decoded = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n  \n  if (!decoded.user_id) {\n    return [{ json: { error: 'Invalid token: missing user_id', statusCode: 401, valid: false } }];\n  }\n  \n  if (decoded.exp && decoded.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { error: 'Token expired', statusCode: 401, valid: false } }];\n  }\n  \n  // Validate required fields\n  if (!body.name || !body.name.trim()) {\n    return [{ json: { error: 'Vendor name is required', statusCode: 400, valid: false } }];\n  }\n  \n  const validSources = ['shopify', 'woocommerce', 'prestashop', 'api', 'excel'];\n  if (!body.source || !validSources.includes(body.source)) {\n    return [{ json: { error: `Source must be one of: ${validSources.join(', ')}`, statusCode: 400, valid: false } }];\n  }\n  \n  // Build vendor data\n  const vendorData = {\n    user_id: decoded.user_id,\n    name: body.name.trim(),\n    company: (body.company || '').trim() || null,\n    source: body.source,\n    source_url: (body.source_url || '').trim() || null,\n    source_api_key: (body.source_api_key || '').trim() || null,\n    source_api_secret: (body.source_api_secret || '').trim() || null,\n    marketplace_id: (body.marketplace_id || '').trim() || null,\n    marketplace_api_key: (body.marketplace_api_key || '').trim() || null,\n    marketplace_url: (body.marketplace_url || '').trim() || null,\n    sync_interval_hours: parseInt(body.sync_interval_hours) || 24,\n    sync_status: 'pending',\n    config: body.config || {}\n  };\n  \n  return [{ json: { valid: true, user_id: decoded.user_id, vendorData, source: body.source, source_url: body.source_url, source_api_key: body.source_api_key, source_api_secret: body.source_api_secret } }];\n} catch (e) {\n  return [{ json: { error: 'Token decode failed: ' + e.message, statusCode: 401, valid: false } }];\n}"
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000003",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000004",
      "name": "Validation Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 400 }}"
        }
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000005",
      "name": "Create Vendor in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "parameters": {
        "method": "POST",
        "url": "https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.vendorData) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000006",
      "name": "Prepare Connection Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 160],
      "parameters": {
        "jsCode": "const created = $input.first().json;\nconst vendor = Array.isArray(created) ? created[0] : created;\n\n// Get original input data\nconst inputData = $('Verify Token & Validate').first().json;\nconst source = inputData.source;\nconst sourceUrl = inputData.source_url;\nconst apiKey = inputData.source_api_key;\nconst apiSecret = inputData.source_api_secret;\n\n// Determine if we should test connection\nconst shouldTest = sourceUrl && apiKey && ['shopify', 'woocommerce'].includes(source);\n\nreturn [{ json: { vendor, source, sourceUrl, apiKey, apiSecret, shouldTest } }];"
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000007",
      "name": "Should Test Connection",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-should-test",
              "leftValue": "={{ $json.shouldTest }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000008",
      "name": "Test Source Connection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 60],
      "parameters": {
        "jsCode": "const { vendor, source, sourceUrl, apiKey, apiSecret } = $input.first().json;\n\nlet connectionTest = 'skipped';\nlet testError = null;\n\ntry {\n  let url, headers;\n  \n  if (source === 'shopify') {\n    // Clean URL: ensure no trailing slash\n    const cleanUrl = sourceUrl.replace(/\\/+$/, '');\n    url = `${cleanUrl}/admin/api/2024-01/shop.json`;\n    headers = { 'X-Shopify-Access-Token': apiKey };\n  } else if (source === 'woocommerce') {\n    const cleanUrl = sourceUrl.replace(/\\/+$/, '');\n    url = `${cleanUrl}/wp-json/wc/v3/system_status`;\n    const basicAuth = Buffer.from(`${apiKey}:${apiSecret}`).toString('base64');\n    headers = { 'Authorization': `Basic ${basicAuth}` };\n  }\n  \n  if (url) {\n    const response = await fetch(url, {\n      method: 'GET',\n      headers,\n      signal: AbortSignal.timeout(10000)\n    });\n    \n    if (response.ok) {\n      connectionTest = 'ok';\n    } else {\n      connectionTest = 'failed';\n      testError = `HTTP ${response.status}: ${response.statusText}`;\n    }\n  }\n} catch (e) {\n  connectionTest = 'failed';\n  testError = e.message;\n}\n\n// Update sync_status based on test result\nconst syncStatus = connectionTest === 'ok' ? 'active' : 'pending';\n\nreturn [{ json: { vendor, connectionTest, testError, syncStatus, updateStatus: true } }];"
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000009",
      "name": "Skip Test Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 260],
      "parameters": {
        "jsCode": "const { vendor } = $input.first().json;\nreturn [{ json: { vendor, connectionTest: 'skipped', testError: null, syncStatus: 'pending', updateStatus: false } }];"
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000010",
      "name": "Update Sync Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-update",
              "leftValue": "={{ $json.updateStatus }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000011",
      "name": "Patch Vendor Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 60],
      "parameters": {
        "method": "PATCH",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.{{ $json.vendor.id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sync_status: $json.syncStatus }) }}",
        "options": {}
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000012",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 160],
      "parameters": {
        "jsCode": "// This node receives from either the PATCH result or the skip path\nlet vendor, connectionTest, testError;\n\ntry {\n  // Try to get data from the Update Status node's input\n  const prev = $input.first().json;\n  \n  // If we came from the PATCH, get the updated vendor\n  if (Array.isArray(prev)) {\n    vendor = prev[0];\n    const testData = $('Test Source Connection').first().json;\n    connectionTest = testData.connectionTest;\n    testError = testData.testError;\n  } else if (prev.vendor) {\n    vendor = prev.vendor;\n    connectionTest = prev.connectionTest;\n    testError = prev.testError;\n  } else {\n    // Came from PATCH HTTP response\n    vendor = prev;\n    const testData = $('Test Source Connection').first().json;\n    connectionTest = testData.connectionTest;\n    testError = testData.testError;\n  }\n} catch (e) {\n  // Fallback: came from skip path\n  const skipData = $('Skip Test Response').first().json;\n  vendor = skipData.vendor;\n  connectionTest = skipData.connectionTest;\n  testError = skipData.testError;\n}\n\nconst response = {\n  success: true,\n  vendor,\n  connection_test: connectionTest\n};\n\nif (testError) {\n  response.connection_error = testError;\n}\n\nreturn [{ json: response }];"
      }
    },
    {
      "id": "b2c3d4e5-2222-4bbb-cccc-000000000013",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 201
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token & Validate": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Create Vendor in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vendor in Supabase": {
      "main": [
        [
          {
            "node": "Prepare Connection Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Connection Test": {
      "main": [
        [
          {
            "node": "Should Test Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Test Connection": {
      "main": [
        [
          {
            "node": "Test Source Connection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Test Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Source Connection": {
      "main": [
        [
          {
            "node": "Update Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Test Response": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Status": {
      "main": [
        [
          {
            "node": "Patch Vendor Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch Vendor Status": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}