backend/workflows/vendor-delete.json
{
  "name": "Katalync - Vendor Delete",
  "nodes": [
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-delete"
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000002",
      "name": "Verify Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\n\nif (!body.token) {\n  return [{ json: { error: 'Token is required', statusCode: 401, valid: false } }];\n}\n\nif (!body.vendor_id) {\n  return [{ json: { error: 'vendor_id is required', statusCode: 400, valid: false } }];\n}\n\ntry {\n  const parts = body.token.split('.');\n  if (parts.length !== 3) {\n    return [{ json: { error: 'Invalid token format', statusCode: 401, valid: false } }];\n  }\n  \n  let payload = parts[1].replace(/-/g, '+').replace(/_/g, '/');\n  while (payload.length % 4) payload += '=';\n  const decoded = JSON.parse(Buffer.from(payload, 'base64').toString('utf8'));\n  \n  if (!decoded.user_id) {\n    return [{ json: { error: 'Invalid token: missing user_id', statusCode: 401, valid: false } }];\n  }\n  \n  if (decoded.exp && decoded.exp < Math.floor(Date.now() / 1000)) {\n    return [{ json: { error: 'Token expired', statusCode: 401, valid: false } }];\n  }\n  \n  return [{ json: { valid: true, user_id: decoded.user_id, vendor_id: body.vendor_id } }];\n} catch (e) {\n  return [{ json: { error: 'Token decode failed: ' + e.message, statusCode: 401, valid: false } }];\n}"
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000003",
      "name": "Check Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000004",
      "name": "Auth Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 401 }}"
        }
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000005",
      "name": "Verify Ownership",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "parameters": {
        "method": "GET",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.{{ $json.vendor_id }}&user_id=eq.{{ $json.user_id }}&select=id,name",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000006",
      "name": "Check Ownership",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 160],
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst vendors = Array.isArray(result) ? result : [result];\n\nif (!vendors.length || !vendors[0].id) {\n  return [{ json: { owned: false, error: 'Vendor not found or access denied', statusCode: 404 } }];\n}\n\nconst prevData = $('Verify Token').first().json;\n\nreturn [{ json: { owned: true, vendor_id: prevData.vendor_id, user_id: prevData.user_id, vendor_name: vendors[0].name } }];"
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000007",
      "name": "Is Owned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 160],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-owned",
              "leftValue": "={{ $json.owned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000008",
      "name": "Ownership Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 320],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 404 }}"
        }
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000009",
      "name": "Delete Vendor Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 60],
      "parameters": {
        "method": "DELETE",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendor_products?vendor_id=eq.{{ $json.vendor_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000010",
      "name": "Delete Vendor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 60],
      "parameters": {
        "method": "DELETE",
        "url": "=https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/vendors?id=eq.{{ $('Check Ownership').first().json.vendor_id }}&user_id=eq.{{ $('Check Ownership').first().json.user_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000011",
      "name": "Insert Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 60],
      "parameters": {
        "method": "POST",
        "url": "https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1/sync_logs",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ vendor_id: $('Check Ownership').first().json.vendor_id, action: 'vendor_deleted', status: 'completed', details: { vendor_name: $('Check Ownership').first().json.vendor_name, deleted_by: $('Check Ownership').first().json.user_id, deleted_at: new Date().toISOString() } }) }}",
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-4444-4ddd-eeee-000000000012",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 60],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Vendor and associated products deleted successfully', vendor_id: $('Check Ownership').first().json.vendor_id }) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Check Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Valid": {
      "main": [
        [
          {
            "node": "Verify Ownership",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Ownership": {
      "main": [
        [
          {
            "node": "Check Ownership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Ownership": {
      "main": [
        [
          {
            "node": "Is Owned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Owned": {
      "main": [
        [
          {
            "node": "Delete Vendor Products",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ownership Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Vendor Products": {
      "main": [
        [
          {
            "node": "Delete Vendor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Vendor": {
      "main": [
        [
          {
            "node": "Insert Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit Log": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}