backend/workflows/vendor-update.json
{
  "name": "Katalync - Vendor Update",
  "nodes": [
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-update"
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000002",
      "name": "Update Vendor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Content-Type': 'application/json' };\n\nconst input = $input.first().json;\nconst { body } = input;\n\nif (!body || !body.token) {\n  return [{ json: { success: false, error: 'Token is required' } }];\n}\n\nif (!body.vendor_id) {\n  return [{ json: { success: false, error: 'vendor_id is required' } }];\n}\n\ntry {\n  // 1. Verify auth token\n  const authResp = await httpReq('https://api.katalync.com/webhook/auth-verify', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token: body.token })\n  });\n  const authData = await authResp.json();\n  if (!authData.success) {\n    return [{ json: { success: false, error: authData.error || 'Token invalid or expired' } }];\n  }\n\n  // 2. Upsert user\n  const upsertResp = await httpReq(SUPABASE_URL + '/users?on_conflict=email', {\n    method: 'POST',\n    headers: { ...sbHeaders, 'Prefer': 'resolution=merge-duplicates,return=representation' },\n    body: JSON.stringify([{\n      email: authData.email,\n      name: authData.name || authData.email,\n      password_hash: 'oauth-managed',\n      role: authData.role || 'user',\n      company: authData.company || null,\n      lang: authData.lang || 'es',\n      onboarded: authData.onboarded || false,\n      subscription_status: authData.subscription_status || 'active',\n      last_login_at: new Date().toISOString()\n    }])\n  });\n  const upsertData = await upsertResp.json();\n  const user_id = upsertData && upsertData.length > 0 ? upsertData[0].id : null;\n  if (!user_id) {\n    return [{ json: { success: false, error: 'Failed to provision user' } }];\n  }\n\n  // 3. Verify vendor belongs to this user\n  const ownerResp = await httpReq(SUPABASE_URL + '/vendors?id=eq.' + body.vendor_id + '&user_id=eq.' + user_id, {\n    method: 'GET',\n    headers: sbHeaders\n  });\n  const ownerData = await ownerResp.json();\n  if (!Array.isArray(ownerData) || ownerData.length === 0) {\n    return [{ json: { success: false, error: 'Vendor not found or access denied' } }];\n  }\n\n  // 4. Build update object from only non-undefined fields\n  const allowedFields = ['name', 'source', 'source_url', 'source_api_key', 'source_api_secret', 'company', 'marketplace_id', 'marketplace_api_key', 'marketplace_url', 'sync_interval_hours', 'sync_status'];\n  const updateData = {};\n  for (const field of allowedFields) {\n    if (body[field] !== undefined) {\n      updateData[field] = body[field];\n    }\n  }\n\n  if (body.marketplaces) { const ec = ownerData[0].config || {}; updateData.config = { ...ec, marketplaces: body.marketplaces }; }\n\n  if (Object.keys(updateData).length === 0) {\n    return [{ json: { success: false, error: 'No fields to update' } }];\n  }\n\n  updateData.updated_at = new Date().toISOString();\n\n  // 5. PATCH the vendor\n  const patchResp = await httpReq(SUPABASE_URL + '/vendors?id=eq.' + body.vendor_id, {\n    method: 'PATCH',\n    headers: { ...sbHeaders, 'Prefer': 'return=representation' },\n    body: JSON.stringify(updateData)\n  });\n  const patchData = await patchResp.json();\n  const updatedVendor = Array.isArray(patchData) && patchData.length > 0 ? patchData[0] : patchData;\n\n  if (!patchResp.ok) {\n    return [{ json: { success: false, error: 'Failed to update vendor: HTTP ' + patchResp.status } }];\n  }\n\n  // 6. Return success\n  return [{ json: { success: true, vendor: updatedVendor } }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Server error: ' + e.message } }];\n}"
      }
    },
    {
      "id": "c3d4e5f6-3333-4ccc-dddd-000000000009",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Update Vendor", "type": "main", "index": 0}]]
    },
    "Update Vendor": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
