backend/workflows/vendor-list.json
{
  "name": "Katalync - Vendor List",
  "nodes": [
    {
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "vendor-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "vendor-list"
    },
    {
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000002",
      "name": "Fetch Vendors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Content-Type': 'application/json' };\n\nconst input = $input.first().json;\nconst { body } = input;\n\nif (!body || !body.token) {\n  return [{ json: { success: false, error: 'Token is required' } }];\n}\n\ntry {\n  const authResp = await httpReq('https://api.katalync.com/webhook/auth-verify', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token: body.token })\n  });\n  const authData = await authResp.json();\n  if (!authData.success) {\n    return [{ json: { success: false, error: authData.error || 'Token invalid or expired' } }];\n  }\n\n  // Upsert user\n  const upsertResp = await httpReq(SUPABASE_URL + '/users?on_conflict=email', {\n    method: 'POST',\n    headers: { ...sbHeaders, 'Prefer': 'resolution=merge-duplicates,return=representation' },\n    body: JSON.stringify([{\n      email: authData.email,\n      name: authData.name || authData.email,\n      password_hash: 'oauth-managed',\n      role: authData.role || 'user',\n      company: authData.company || null,\n      lang: authData.lang || 'es',\n      onboarded: authData.onboarded || false,\n      subscription_status: authData.subscription_status || 'active',\n      last_login_at: new Date().toISOString()\n    }])\n  });\n  const upsertData = await upsertResp.json();\n  const user_id = upsertData && upsertData.length > 0 ? upsertData[0].id : null;\n  if (!user_id) {\n    return [{ json: { success: false, error: 'Failed to provision user' } }];\n  }\n\n  // Fetch vendors\n  const isAdmin = authData.role === 'admin' || authData.role === 'super_admin';\n  const vendorUrl = isAdmin\n    ? SUPABASE_URL + '/vendors?order=created_at.desc'\n    : SUPABASE_URL + '/vendors?user_id=eq.' + user_id + '&order=created_at.desc';\n  const vendorsResp = await httpReq(vendorUrl, {\n    method: 'GET',\n    headers: sbHeaders\n  });\n  const vendors = await vendorsResp.json();\n  const vendorList = Array.isArray(vendors) ? vendors : [];\n\n  // Fetch product counts per vendor\n  if (vendorList.length > 0) {\n    const vendorIds = vendorList.map(v => v.id).join(',');\n    const countsResp = await httpReq(SUPABASE_URL + '/vendor_products?select=vendor_id&vendor_id=in.(' + vendorIds + ')', {\n      method: 'GET',\n      headers: sbHeaders\n    });\n    const products = await countsResp.json();\n    const counts = {};\n    if (Array.isArray(products)) {\n      for (const p of products) {\n        if (p.vendor_id) counts[p.vendor_id] = (counts[p.vendor_id] || 0) + 1;\n      }\n    }\n    for (const v of vendorList) {\n      v.product_count_actual = counts[v.id] || 0;\n    }\n  }\n\n  return [{ json: { success: true, vendors: vendorList, total: vendorList.length } }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Server error: ' + e.message } }];\n}"
      }
    },
    {
      "id": "a1b2c3d4-1111-4aaa-bbbb-000000000009",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Vendors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vendors": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}