backend/workflows/woocommerce-sync-pull.json
{
  "name": "Katalync - WooCommerce Sync Pull",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "woocommerce-sync-pull",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "woo-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "woocommerce-sync-pull"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nfunction httpReq(url, options = {}) {\n  return new Promise((resolve, reject) => {\n    const m = url.match(/^https?:\\/\\/([^/]+)(\\/.*)$/);\n    if (!m) { reject(new Error('Invalid URL: ' + url)); return; }\n    const hostname = m[1];\n    const path = m[2] || '/';\n    const postData = options.body || '';\n    const req = https.request({\n      hostname: hostname,\n      port: 443,\n      path: path,\n      method: options.method || 'GET',\n      headers: { ...options.headers, ...(postData ? { 'Content-Length': Buffer.byteLength(postData) } : {}) }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        const body = Buffer.concat(chunks).toString();\n        resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, text: () => Promise.resolve(body), json: () => Promise.resolve(JSON.parse(body)), headers: res.headers });\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('Request timeout')); });\n    if (postData) req.write(postData);\n    req.end();\n  });\n}\n\n// ============================================================\n// Katalync - WooCommerce Sync Pull\n// Full pipeline: auth → fetch vendor → paginate WooCommerce API →\n// fetch variations for variable products → map → upsert → log\n// ============================================================\n\nconst input = $input.first().json;\nconst body = input.body || input;\nconst { token, vendor_id } = body;\n\n// --- Constants ---\nconst SUPABASE_URL = 'https://prometeix-servidor-supabase.reyl9a.easypanel.host/rest/v1';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q';\nconst sbHeaders = {\n  'apikey': SUPABASE_KEY,\n  'Authorization': `Bearer ${SUPABASE_KEY}`,\n  'Content-Type': 'application/json',\n  'Prefer': 'return=representation'\n};\n\n// --- Helper: Supabase request ---\nasync function sbFetch(path, options = {}) {\n  const url = `${SUPABASE_URL}${path}`;\n  const resp = await httpReq(url, {\n    headers: { ...sbHeaders, ...(options.headers || {}) },\n    method: options.method || 'GET',\n    body: options.body ? JSON.stringify(options.body) : undefined\n  });\n  const text = await resp.text();\n  if (!resp.ok) {\n    throw new Error(`Supabase ${options.method || 'GET'} ${path} failed (${resp.status}): ${text}`);\n  }\n  return text ? JSON.parse(text) : null;\n}\n\n// --- Helper: WooCommerce API request ---\nasync function wooFetch(baseUrl, path, authHeader) {\n  const url = `${baseUrl}${path}`;\n  const resp = await httpReq(url, {\n    method: 'GET',\n    headers: {\n      'Authorization': authHeader,\n      'Content-Type': 'application/json'\n    }\n  });\n  if (!resp.ok) {\n    const errText = await resp.text();\n    throw new Error(`WooCommerce API error ${resp.status}: ${errText.substring(0, 500)}`);\n  }\n  const totalPages = parseInt(resp.headers['x-wp-totalpages'] || '1', 10);\n  const totalItems = parseInt(resp.headers['x-wp-total'] || '0', 10);\n  const data = await resp.json();\n  return { data, totalPages, totalItems };\n}\n\nfunction safeStr(val, fallback = '') {\n  if (val === null || val === undefined) return fallback;\n  return String(val).trim() || fallback;\n}\n\nfunction safeFloat(val, fallback = 0) {\n  const n = parseFloat(val);\n  return isNaN(n) ? fallback : n;\n}\n\nfunction safeInt(val, fallback = 0) {\n  const n = parseInt(val, 10);\n  return isNaN(n) ? fallback : n;\n}\n\n// Strip HTML tags from WooCommerce product names\nfunction stripHtml(str) {\n  if (!str) return '';\n  return str.replace(/<[^>]*>/g, '').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&quot;/g, '\"').replace(/&#039;/g, \"'\").replace(/&nbsp;/g, ' ').trim();\n}\n\ntry {\n  // ========== STEP 1: Verify token ==========\n  if (!token || typeof token !== 'string') {\n    return [{ json: { success: false, error: 'Missing or invalid token' } }];\n  }\n  if (!vendor_id) {\n    return [{ json: { success: false, error: 'Missing vendor_id' } }];\n  }\n\n  // Auth verification — call auth-verify endpoint\n  const authResp = await httpReq('https://api.katalync.com/webhook/auth-verify', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ token })\n  });\n  const authData = await authResp.json();\n  if (!authData.success) {\n    return [{ json: { success: false, error: authData.error || 'Token invalid or expired' } }];\n  }\n  const userEmail = authData.email;\n\n  // Upsert user into Supabase (auto-provision from n8n session data)\n  const upsertData = await sbFetch('/users?on_conflict=email', {\n    method: 'POST',\n    headers: { 'Prefer': 'resolution=merge-duplicates,return=representation' },\n    body: [{\n      email: authData.email,\n      name: authData.name || authData.email,\n      password_hash: 'oauth-managed',\n      role: authData.role || 'user',\n      company: authData.company || null,\n      lang: authData.lang || 'es',\n      onboarded: authData.onboarded || false,\n      subscription_status: authData.subscription_status || 'active',\n      last_login_at: new Date().toISOString()\n    }]\n  });\n  const user_id = upsertData && upsertData.length > 0 ? upsertData[0].id : null;\n  if (!user_id) {\n    return [{ json: { success: false, error: 'Failed to provision user' } }];\n  }\n\n  // ========== STEP 2: Fetch vendor ==========\n  const vendors = await sbFetch(\n    `/vendors?id=eq.${vendor_id}&user_id=eq.${user_id}&select=*`\n  );\n  if (!vendors || vendors.length === 0) {\n    return [{ json: { success: false, error: 'Vendor not found or access denied' } }];\n  }\n  const vendor = vendors[0];\n\n  // ========== STEP 3: Validate source ==========\n  if (vendor.source !== 'woocommerce') {\n    return [{ json: { success: false, error: `Vendor source is '${vendor.source}', expected 'woocommerce'` } }];\n  }\n  if (!vendor.source_url || !vendor.source_api_key || !vendor.source_api_secret) {\n    return [{ json: { success: false, error: 'Vendor missing source_url, source_api_key, or source_api_secret' } }];\n  }\n\n  const wooUrl = vendor.source_url.replace(/\\/+$/, '');\n  const authHeader = 'Basic ' + Buffer.from(`${vendor.source_api_key}:${vendor.source_api_secret}`).toString('base64');\n\n  // ========== STEP 4: Create sync_log ==========\n  const startedAt = new Date().toISOString();\n  const syncLogs = await sbFetch('/sync_logs', {\n    method: 'POST',\n    body: {\n      vendor_id: vendor.id,\n      direction: 'pull',\n      total_products: 0,\n      created_count: 0,\n      updated_count: 0,\n      error_count: 0,\n      status: 'running',\n      started_at: startedAt\n    }\n  });\n  const syncLog = syncLogs[0];\n  const sync_log_id = syncLog.id;\n\n  // ========== STEP 5-7: Fetch ALL WooCommerce products (with pagination) ==========\n  let allProducts = [];\n  let page = 1;\n  const PER_PAGE = 100;\n  const MAX_PAGES = 200; // Safety limit: 200 * 100 = 20,000 products\n  let totalPages = 1;\n\n  // First request to get total pages\n  const firstResp = await wooFetch(\n    wooUrl,\n    `/wp-json/wc/v3/products?per_page=${PER_PAGE}&page=1&status=publish`,\n    authHeader\n  );\n  allProducts = allProducts.concat(firstResp.data);\n  totalPages = Math.min(firstResp.totalPages, MAX_PAGES);\n\n  // Fetch remaining pages\n  for (page = 2; page <= totalPages; page++) {\n    try {\n      const resp = await wooFetch(\n        wooUrl,\n        `/wp-json/wc/v3/products?per_page=${PER_PAGE}&page=${page}&status=publish`,\n        authHeader\n      );\n      if (!resp.data || resp.data.length === 0) break;\n      allProducts = allProducts.concat(resp.data);\n    } catch (pageErr) {\n      // Log error but continue with what we have\n      console.log(`Warning: Failed to fetch page ${page}: ${pageErr.message}`);\n      break;\n    }\n\n    // Rate limiting: WooCommerce typically allows ~5 req/sec\n    await new Promise(resolve => setTimeout(resolve, 250));\n  }\n\n  // ========== Fetch variations for variable products ==========\n  const variableProducts = allProducts.filter(p => p.type === 'variable');\n  const variationMap = {}; // product_id → variations[]\n\n  for (const vp of variableProducts) {\n    try {\n      let varPage = 1;\n      let allVariations = [];\n      let hasMore = true;\n\n      while (hasMore) {\n        const varResp = await wooFetch(\n          wooUrl,\n          `/wp-json/wc/v3/products/${vp.id}/variations?per_page=100&page=${varPage}`,\n          authHeader\n        );\n        if (!varResp.data || varResp.data.length === 0) {\n          hasMore = false;\n        } else {\n          allVariations = allVariations.concat(varResp.data);\n          varPage++;\n          if (varPage > varResp.totalPages) hasMore = false;\n        }\n        await new Promise(resolve => setTimeout(resolve, 200));\n      }\n\n      variationMap[vp.id] = allVariations;\n    } catch (varErr) {\n      console.log(`Warning: Failed to fetch variations for product ${vp.id}: ${varErr.message}`);\n      variationMap[vp.id] = [];\n    }\n  }\n\n  // ========== Map products to Katalync format ==========\n  const mappedProducts = [];\n  const syncErrors = [];\n\n  for (const product of allProducts) {\n    try {\n      if (product.type === 'variable') {\n        // Map each variation as a separate product\n        const variations = variationMap[product.id] || [];\n        if (variations.length === 0) {\n          syncErrors.push({\n            sync_log_id,\n            sku: safeStr(product.sku || product.id),\n            field: 'variations',\n            error_type: 'missing_data',\n            message: `Variable product ${product.id} (${stripHtml(product.name)}) has no variations`\n          });\n          continue;\n        }\n\n        for (const variation of variations) {\n          try {\n            let sku = safeStr(variation.sku);\n            if (!sku) sku = `woo-${product.id}-${variation.id}`;\n\n            // Build variation name from attributes\n            let name = stripHtml(product.name);\n            if (variation.attributes && variation.attributes.length > 0) {\n              const attrStr = variation.attributes\n                .map(a => safeStr(a.option))\n                .filter(Boolean)\n                .join(' / ');\n              if (attrStr) name = `${name} - ${attrStr}`;\n            }\n\n            // Find EAN in meta_data\n            const eanMeta = (variation.meta_data || []).find(\n              m => m.key === '_ean' || m.key === 'ean' || m.key === '_gtin' || m.key === '_barcode'\n            );\n\n            const mapped = {\n              vendor_id: vendor.id,\n              sku: sku,\n              ean: safeStr(eanMeta?.value),\n              name: name.substring(0, 500),\n              brand: safeStr(\n                (product.attributes || []).find(a => a.name.toLowerCase() === 'brand' || a.name.toLowerCase() === 'marca')?.options?.[0]\n              ),\n              category: safeStr(product.categories?.[0]?.name),\n              price: safeFloat(variation.regular_price || variation.price),\n              stock: safeInt(variation.stock_quantity, 0),\n              image_url: safeStr(variation.image?.src || product.images?.[0]?.src),\n              raw_data: {\n                woo_product_id: product.id,\n                woo_variation_id: variation.id,\n                woo_type: 'variation',\n                woo_slug: product.slug,\n                woo_status: product.status,\n                woo_tags: (product.tags || []).map(t => t.name),\n                variation_attributes: variation.attributes,\n                sale_price: variation.sale_price,\n                on_sale: variation.on_sale,\n                weight: variation.weight,\n                dimensions: variation.dimensions,\n                manage_stock: variation.manage_stock,\n                stock_status: variation.stock_status,\n                tax_class: variation.tax_class\n              },\n              sync_status: 'synced',\n              last_synced_at: new Date().toISOString()\n            };\n            mappedProducts.push(mapped);\n          } catch (varErr) {\n            syncErrors.push({\n              sync_log_id,\n              sku: safeStr(variation.sku || `woo-${product.id}-${variation.id}`),\n              field: 'variation_mapping',\n              error_type: 'mapping_error',\n              message: `Error mapping variation ${variation.id}: ${varErr.message}`\n            });\n          }\n        }\n      } else {\n        // Simple, grouped, or external product\n        let sku = safeStr(product.sku);\n        if (!sku) sku = `woo-${product.id}`;\n\n        // Find EAN in meta_data\n        const eanMeta = (product.meta_data || []).find(\n          m => m.key === '_ean' || m.key === 'ean' || m.key === '_gtin' || m.key === '_barcode'\n        );\n\n        // Find brand\n        const brandAttr = (product.attributes || []).find(\n          a => a.name.toLowerCase() === 'brand' || a.name.toLowerCase() === 'marca'\n        );\n\n        const mapped = {\n          vendor_id: vendor.id,\n          sku: sku,\n          ean: safeStr(eanMeta?.value),\n          name: stripHtml(product.name).substring(0, 500),\n          brand: safeStr(brandAttr?.options?.[0]),\n          category: safeStr(product.categories?.[0]?.name),\n          price: safeFloat(product.regular_price || product.price),\n          stock: safeInt(product.stock_quantity, 0),\n          image_url: safeStr(product.images?.[0]?.src),\n          raw_data: {\n            woo_product_id: product.id,\n            woo_type: product.type,\n            woo_slug: product.slug,\n            woo_status: product.status,\n            woo_tags: (product.tags || []).map(t => t.name),\n            sale_price: product.sale_price,\n            on_sale: product.on_sale,\n            weight: product.weight,\n            dimensions: product.dimensions,\n            manage_stock: product.manage_stock,\n            stock_status: product.stock_status,\n            short_description: stripHtml(product.short_description).substring(0, 500),\n            tax_class: product.tax_class,\n            total_sales: product.total_sales\n          },\n          sync_status: 'synced',\n          last_synced_at: new Date().toISOString()\n        };\n        mappedProducts.push(mapped);\n      }\n    } catch (productErr) {\n      syncErrors.push({\n        sync_log_id,\n        sku: safeStr(product.sku || product.id),\n        field: 'product_mapping',\n        error_type: 'mapping_error',\n        message: `Error mapping product ${product.id}: ${productErr.message}`\n      });\n    }\n  }\n\n  // ========== STEP 8: Upsert products into vendor_products ==========\n  let createdCount = 0;\n  let updatedCount = 0;\n  let errorCount = syncErrors.length;\n  const BATCH_SIZE = 50;\n\n  // Get existing SKUs\n  const existingProducts = await sbFetch(\n    `/vendor_products?vendor_id=eq.${vendor.id}&select=sku`\n  );\n  const existingSkus = new Set((existingProducts || []).map(p => p.sku));\n\n  // Upsert in batches\n  for (let i = 0; i < mappedProducts.length; i += BATCH_SIZE) {\n    const batch = mappedProducts.slice(i, i + BATCH_SIZE);\n\n    try {\n      await sbFetch('/vendor_products', {\n        method: 'POST',\n        headers: {\n          'Prefer': 'resolution=merge-duplicates,return=representation'\n        },\n        body: batch\n      });\n\n      for (const item of batch) {\n        if (existingSkus.has(item.sku)) {\n          updatedCount++;\n        } else {\n          createdCount++;\n        }\n      }\n    } catch (upsertErr) {\n      // Fallback: individual inserts\n      for (const item of batch) {\n        try {\n          await sbFetch('/vendor_products', {\n            method: 'POST',\n            headers: {\n              'Prefer': 'resolution=merge-duplicates,return=representation'\n            },\n            body: [item]\n          });\n          if (existingSkus.has(item.sku)) {\n            updatedCount++;\n          } else {\n            createdCount++;\n          }\n        } catch (itemErr) {\n          errorCount++;\n          syncErrors.push({\n            sync_log_id,\n            sku: item.sku,\n            field: 'upsert',\n            error_type: 'database_error',\n            message: `Upsert failed: ${itemErr.message}`.substring(0, 500)\n          });\n        }\n      }\n    }\n  }\n\n  // ========== STEP 9: Update sync_log ==========\n  const completedAt = new Date().toISOString();\n  await sbFetch(`/sync_logs?id=eq.${sync_log_id}`, {\n    method: 'PATCH',\n    body: {\n      status: errorCount > 0 ? 'completed_with_errors' : 'completed',\n      total_products: mappedProducts.length,\n      created_count: createdCount,\n      updated_count: updatedCount,\n      error_count: errorCount,\n      error_details: syncErrors.length > 0 ? syncErrors.slice(0, 100) : null,\n      completed_at: completedAt\n    }\n  });\n\n  // ========== STEP 10: Update vendor ==========\n  const syncInterval = vendor.sync_interval_hours || 24;\n  const nextSyncAt = new Date(Date.now() + syncInterval * 60 * 60 * 1000).toISOString();\n\n  await sbFetch(`/vendors?id=eq.${vendor.id}`, {\n    method: 'PATCH',\n    body: {\n      product_count: createdCount + updatedCount,\n      sync_status: errorCount > 0 ? 'completed_with_errors' : 'synced',\n      last_sync_at: completedAt,\n      next_sync_at: nextSyncAt,\n      last_sync_products_synced: createdCount + updatedCount,\n      last_sync_errors: errorCount\n    }\n  });\n\n  // ========== STEP 11: Insert sync_errors ==========\n  if (syncErrors.length > 0) {\n    for (let i = 0; i < syncErrors.length; i += BATCH_SIZE) {\n      const errorBatch = syncErrors.slice(i, i + BATCH_SIZE);\n      try {\n        await sbFetch('/sync_errors', {\n          method: 'POST',\n          body: errorBatch\n        });\n      } catch (e) {\n        console.log('Warning: Failed to log sync errors batch:', e.message);\n      }\n    }\n  }\n\n  \n  // Trigger auto-convert after sync (fire-and-forget)\n  if (mappedProducts && mappedProducts.length > 0) {\n    httpReq('https://api.katalync.com/webhook/auto-convert', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        token: token,\n        vendor_id: vendor.id,\n        marketplaces: (vendor.config && vendor.config.marketplaces) || ['sprinter_es']\n      }),\n      timeout: 5000\n    }).catch(() => {});\n  }\n\n  // ========== STEP 12: Return result ==========\n  return [{\n    json: {\n      success: true,\n      vendor_id: vendor.id,\n      vendor_name: vendor.name,\n      source: 'woocommerce',\n      total: mappedProducts.length,\n      created: createdCount,\n      updated: updatedCount,\n      errors: errorCount,\n      pages_fetched: Math.min(page - 1, totalPages),\n      woo_products: allProducts.length,\n      variable_products: variableProducts.length,\n      variations_fetched: Object.values(variationMap).reduce((sum, v) => sum + v.length, 0),\n      sync_log_id: sync_log_id,\n      duration_ms: Date.now() - new Date(startedAt).getTime()\n    }\n  }];\n\n} catch (fatalError) {\n  // Fatal error handler\n  try {\n    if (typeof sync_log_id !== 'undefined') {\n      await sbFetch(`/sync_logs?id=eq.${sync_log_id}`, {\n        method: 'PATCH',\n        body: {\n          status: 'failed',\n          error_details: [{ error: fatalError.message }],\n          completed_at: new Date().toISOString()\n        }\n      });\n    }\n    if (typeof vendor !== 'undefined') {\n      await sbFetch(`/vendors?id=eq.${vendor.id}`, {\n        method: 'PATCH',\n        body: {\n          sync_status: 'error'\n        }\n      });\n    }\n  } catch (e) {\n    // Best effort\n  }\n\n  return [{\n    json: {\n      success: false,\n      error: fatalError.message,\n      vendor_id: body.vendor_id || null\n    }\n  }];\n}\n"
      },
      "id": "woo-main-code",
      "name": "WooCommerce Sync Pipeline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      },
      "id": "woo-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "WooCommerce Sync Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce Sync Pipeline": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}